.container-admin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $backgroundcolor;
    flex-wrap: wrap;
    padding: 30px 0;
}
.container-admin .overflow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 19;
    cursor: pointer;
}
.container-admin header{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.container-admin header .box-total{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 12px 20px;
    border-radius: 5px;
    width: 23%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    color: black;
}
// .container-admin header .box__total-user{
//     background-image: linear-gradient( 109.6deg,  rgba(255,115,68,1) 11.2%, rgba(244,255,32,1) 100.6% );
// }
// .container-admin header .box__total-thismonth{
//     background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
// }
// .container-admin header .box__total-job{
//     background-image: radial-gradient( circle farthest-corner at 24.7% 28.8%,  rgba(247,183,29,1) 1.9%, rgba(253,239,150,1) 97.7% );
// }
.container-admin header .box-total .title{
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    color: $textadmincolor;
    text-transform: capitalize;
}
.container-admin header .box-total .total-content{
    font-size: 24px;
    font-weight: 600;
    color: $btncolor;
    margin-bottom: 6px;
}
.container-admin header .box-total .view-detail__total{
    text-decoration: none;
    font-size: 16px;
    color: $textadmincolor;
}
.container-admin header .box-total .view-detail__total:hover{
    color: $btncolor
}
.container-admin .container-revenue{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: start;
    width: 95%;
}
.revenue-chart{
    width: 100%;
    height: 720px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
}
.revenue-chart h1{
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: $thirdcolor;
    padding-bottom: 6px;
    border-bottom: 1px solid #CACACA;
}
.revenue-chart #myChart{
    font-size: 16px;
}
.main__revenue-detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.main__revenue-detail .revenue-details,
.total-job__detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $thirdcolor;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    color: white;
}
.total-job__detail{
    width: 30%;
    height: 461px;
}
.main__revenue-detail .box__circle-chart,
.container-admin .main-job__circle-chart .box__circle-chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
}
.main__revenue-detail .box__circle-chart{
    color: $textadmincolor;
}
.main__revenue-detail .revenue-details,
.main__revenue-detail .box__circle-chart{
    width: 40%;
    height: 354px;
    margin: unset;
}
.container-admin .main-job__circle-chart .box__circle-chart{
    width: 21%;
}
.main__revenue-detail .box__circle-chart h1,
.container-admin .main-job__circle-chart .box__circle-chart h1{
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #CACACA;
    padding-bottom: 6px;
    text-transform: capitalize;
}
.main__revenue-detail .box__circle-chart h1{
    color: $btncolor;
}
.container-admin .main-job__circle-chart .box__circle-chart h1{
    font-size: 22px;
}
.main__revenue-detail .box__circle-chart .circle-chart,
.container-admin .main-job__circle-chart .box__circle-chart .circle-chart{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(from 0deg, red 0%, red 0%, lightgray 0%, lightgray 100%);
  }
  .main__revenue-detail .box__circle-chart .circle-chart .content,
  .container-admin .main-job__circle-chart .box__circle-chart .circle-chart .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
    z-index: 2;
    color: #5f5f5f;
  }
  .main__revenue-detail .box__circle-chart .circle-chart::after,
  .container-admin .main-job__circle-chart .box__circle-chart .circle-chart::after{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  .main__revenue-detail .box__circle-chart p{
    margin-bottom: unset;
    margin-top: 16px;
    width: 100%;
  }
  .main__revenue-detail .box__circle-chart p b{
    color: $btncolor;
  }
.revenue-details .title,
.total-job__detail h1{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
}
.revenue-details p,
.total-job__detail p{
    margin-bottom: unset;
}
.revenue-details p.detail-total,
.total-job__detail p.job-available{
    font-size: 24px;
    font-weight: 600;
}
.revenue-details p.available,
.total-job__detail p.available{
    text-transform: capitalize;
    color: #CACACA;
    margin-bottom: 20px;
}
.revenue-details p.total-ads,
.revenue-details p.total-postjob,
.revenue-details p.total-revenue,
.revenue-details p.total-refund,
.total-job__detail p.adsjob,
.total-job__detail p.highpayingjob,
.total-job__detail p.normaljob,
.total-job__detail p.locked-jobs,
.total-job__detail p.total-jobs{
    width: 100%;
    padding: 12px 0 8px 0;
    border-bottom: 1px solid #CACACA;
}
.total-job__detail p.adsjob,
.total-job__detail p.highpayingjob,
.total-job__detail p.normaljob,
.total-job__detail p.total-jobs{
    margin-bottom: 6px;
}
.revenue-details p.total-refund,
.total-job__detail p.locked-jobs{
    border-bottom: unset;
}
.revenue-details p.total-refund b,
.total-job__detail p.locked-jobs b{
    color: #FC0412;
}
.container-admin .detail-revenue{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
}
.container-admin .detail-revenue h1,
.container-admin .chart-job h1{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cacaca;
}
.container-admin .chart-job h1{
    color: $thirdcolor;
}
.container-admin .detail-revenue .content__total-quarterly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25%;
}
.container-admin .detail-revenue .content__total-quarterly ul {
    padding: unset;
}
.container-admin .detail-revenue .content__total-quarterly ul span.title{
    font-size: 22px;
    font-weight: 600;
}
.container-admin .detail-revenue .content__total-quarterly ul p.view-detail{
    font-size: 16px;
    margin-bottom: unset;
    cursor: pointer;
    padding-left: 4px;
}
.container-admin .detail-revenue .content__total-quarterly ul p.view-detail:hover{
    text-decoration: underline;
}
.container-admin .detail-revenue .content__total-quarterly li {
    list-style-type: none;
    padding: 12px 4px 12px 12px ;
    border-bottom: 1px solid #CACACA;
}
.container-admin .detail-revenue .content__total-quarterly li.bottom-total{
    border-bottom: unset;
}
.container-admin .detail-revenue .content__total-quarterly .down__firstquarterly,
.container-admin .detail-revenue .content__total-quarterly .down__secondquarterly,
.container-admin .detail-revenue .content__total-quarterly .down__thirdquarterly,
.container-admin .detail-revenue .content__total-quarterly .down__fourthquarterly{
    display: none;
}
.container-admin .box__dasboard-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 95%;
    flex-wrap: wrap;
    margin-top: 50px;
}
.container-admin .user-chart{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    height: 621px;
    background-color: $thirdcolor;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    align-self: flex-start;
    color: white;
}
.container-admin .user-chart h1{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 1px solid #cacaca;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}
.container-admin .user-chart h1 span{
    margin-right: 4px;
}
.container-admin .user-chart .percentage-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-admin .user-chart .percentage-bar h2{
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 12px 0;
}
.container-admin .user-chart .percentage-bar .frame-percent{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $titlecolor;
    margin: 16px 0;
}
.container-admin .user-chart .percentage-bar .percent-user {
    background-color: $btncolor;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.container-admin .user-chart .percentage-bar .percent-user .data-count-user,
.container-admin .user-chart .percentage-bar .percent-company .data-count-company{
    position: absolute;
    top: -110%;
    right: 0;
    font-size: 14px;
    font-weight: 600;
}

.container-admin .user-chart .percentage-bar .percent-company {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.container-admin .list-user,
.container-admin .list-job{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    align-self: flex-start;
}
.container-admin .list-job{
    width: 95%;
}
.container-admin .list-user{
    position: relative;
    width: 68%;
    margin-top: unset;
}
.container-admin .list-user h1,
.container-admin .list-job h1{
    width: 100%;
    padding: 20px 12px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: unset;
    color: white;
    background-color: $thirdcolor;
}
.container-admin .list-user .header__list-user,
.container-admin .list-user .body__list-user,
.container-admin .list-job .header__list-job,
.container-admin .list-job .body__list-job{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 12px;
}
.container-admin .list-user .body__list-user{
    border-bottom: 1px solid #CACACA;
}
.container-admin .list-user .body__list-user .box__edit-user{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    z-index: 20;
}
.container-admin .list-user .body__list-user .box__edit-user h1{
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    background-color: unset;
    padding-left: unset;
    padding-top: unset;
}
.container-admin .list-user .body__list-user .box__edit-user .main__edit-user{
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 8px 0;
    margin: 8px 0;
}
.container-admin .list-user .body__list-user .box__edit-user .main__checkbox{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.container-admin .list-user .body__list-user .box__edit-user .main__edit-user input{
    width: 70%;
    border-radius: 5px;
    background-color: transparent;
    height: 40px;
    border: 1px solid #cacaca;
    padding: 4px 8px;
}
.container-admin .list-user .body__list-user .box__edit-user .main__edit-user label{
    font-size: 18px;
    width: 25%;
}
.container-admin .list-user .body__list-user .box__edit-user .main__checkbox input{
    height: unset;
    width: unset;
    margin-right: 8px;
}
.container-admin .list-user .body__list-user .box__edit-user .main__checkbox label{
    width: unset;
}
.container-admin .list-user .body__list-user .box__edit-user .submit__edit-user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
}
.container-admin .list-user .body__list-user .box__edit-user .submit__edit-user button{
    border: 1px solid $secondarycolor;
    background-color: white;
    color: $secondarycolor;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
}
.container-admin .list-user .body__list-user .box__edit-user .submit__edit-user button:hover{
    background-color: $secondarycolor;
    color: white;
}
.container-admin .list-user .body__list-user .action,
.container-admin .list-user .header__list-user .action,
.container-admin .list-job .body__list-job .action,
.container-admin .list-job .header__list-job .action{
    width: 8%;
}
.container-admin .list-job .body__list-job .action,
.container-admin .list-job .header__list-job .action{
    text-align: center;
}
.container-admin .list-user .header__list-user .action{
    text-align: center;
}
.container-admin .list-user .body__list-user .action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-admin .list-user .body__list-user .action i,
.container-admin .list-job .body__list-job .action i{
    font-size: 24px;
    cursor: pointer;
}
.container-admin .list-user .body__list-user .action .edit-user:hover i{
    color: #0093E9;
}
.container-admin .list-user .body__list-user .action form .remove-user,
.container-admin .list-job .body__list-job .action .remove-job{
    border: none;
    outline: none;
    background-color: transparent;
}
.container-admin .list-user .body__list-user .action form .remove-user:hover i,
.container-admin .list-job .body__list-job .action .remove-job:hover i {
    color: #FC0412;
}
.container-admin .list-user .header__list-user,
.container-admin .list-job .header__list-job{
    padding: 16px 12px;
    border-bottom: 1px solid #cacaca;
}
.container-admin .list-user .header__list-user span,
.container-admin .list-user .body__list-user span{
    width: 32%;
    padding: 0 6px 0 0;
}
.container-admin .list-user .header__list-user span,
.container-admin .list-job .header__list-job span{
    font-weight: 600;
}
.container-admin .list-user .header__list-user span.role,
.container-admin .list-user .body__list-user span.role{
    width: 16%;
}
.container-admin .list-user .header__list-user span.phone,
.container-admin .list-user .body__list-user span.phone{
    width: 12%;
}
.container-admin .list-user .body__list-user span{
    padding: 12px 6px 12px 0;
    word-wrap: break-word;
}
.container-admin .list-job .body__list-job span{
    padding: 0;
}
.container-admin .list-user .body__list-user span img,
.container-admin .list-job .body__list-job span img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}
.container-admin .list-job .body__list-job span img{
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4));
}
.container-admin .list-job .header__list-job span,
.container-admin .list-job .body__list-job span{
    width: 25%;
    padding-right: 6px;
}
.container-admin .list-job .body__list-job span.status,
.container-admin .list-job .header__list-job span.statusjob{
    width: 10%;
    text-align: center;
    padding-left: 6px;
}
.container-admin .list-job .body__list-job span.date,
.container-admin .list-job .header__list-job span.datejob{
    text-align: center;
    width: 15%;
}
.container-admin .list-job .body__list-job span.name,
.container-admin .list-job .header__list-job span.namejob{
    width: 42%;
}
.container-admin .list-job .body__list-job span.name{
    padding-left: 12px;
}
.container-admin .list-job .body__list-job span.owner,
.container-admin .list-job .header__list-job span.ownerjob{
    width: 26%;
}
.container-admin .list-job .body__list-job{
    position: relative;
    margin: 2px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    padding: 20px 12px;
}
.container-admin .list-job .body__list-job::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    background-color: $thirdcolor;
}
.container-admin .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.container-admin .box__dasboard-job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 50px;
}
.container-admin .chart-job{
    width: 65%;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
}
.container-admin .main-job__circle-chart{
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.container-admin .detail-refuned{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin-top: 50px;
}
.container-admin .detail-refuned .box__request-refund{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads,
.container-admin .detail-refuned .box__request-refund .refuned-high{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
}
form.note-denied{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    background-color: white;
    z-index: 20;
}
form.note-denied h1{
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
}
form.note-denied textarea{
    width: 90%;
    height: 300px;
    resize: none;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 12px;
}
form.note-denied .accept{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    width: 90%;
}
form.note-denied .accept input{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
form.note-denied button{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 20px 0;
    border: 1px solid $secondarycolor;
    color: $secondarycolor;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    transition: .5s;
}
form.note-denied button:hover{
    background-color: $secondarycolor;
    color: white;
}
.container-admin .detail-refuned .history-refuned{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 48%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    padding: 20px;
    align-self: start;
}
.container-admin .detail-refuned .history-refuned h1,
.container-admin .detail-refuned .refuned-ads h1,
.container-admin .detail-refuned .refuned-high h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #cacaca;
}
.container-admin .detail-refuned .history-refuned .header__history-refuned{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-admin .detail-refuned .history-refuned .header__history-refuned span{
    width: 20%;
    padding: 8px 0;
    font-weight: 600;
}
.container-admin .detail-refuned .history-refuned .main__history-refuned{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #cacaca;
    padding: 12px 0;
}
.container-admin .detail-refuned .history-refuned .main__history-refuned span{
    width: 20%;
}
.container-admin .detail-refuned .history-refuned .main__history-refuned span.customer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
    margin-right: 4px;
}
.container-admin .detail-refuned .history-refuned .main__history-refuned span.customer{
    margin-bottom: unset;
    width: 20%;
    text-align: center;
}
.container-admin .detail-refuned .history-refuned .main__history-refuned span.amount{
    color: #FC0412;
    font-weight: 600;
}
.container-admin .detail-refuned .history-refuned .main__history-refuned span.customer,
.container-admin .detail-refuned .history-refuned .main__history-refuned span.amount,
.container-admin .detail-refuned .history-refuned .header__history-refuned span.customer,
.container-admin .detail-refuned .history-refuned .header__history-refuned span.amount{
    text-align: center;
} 
.container-admin .detail-refuned .box__request-refund .refuned-ads .header__refuned-ads,
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads{
    border-bottom: 1px solid #cacaca;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .header__refuned-ads span,
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span{
    width: 16%;
    font-weight: 600;
    padding: 0 6px;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span{
    font-weight: unset;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .header__refuned-ads span.action,
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action{
    text-align: center;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.person img{
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4));
    border-radius: 50%;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action button{
    outline: none;
    background-color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 500;
    transition: .5s;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action button.refund-success{
    border: 1px solid $btncolor;
    color: $btncolor;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action button.refund-success:hover{
    color: white;
    background-color: $btncolor;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action button.denied{
    border: 1px solid #FC0412;
    color: #FC0412;
}
.container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads span.action button.denied:hover{
    color: white;
    background-color: #FC0412;
}
.container-admin .success-payment__history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.04);
    padding: 20px;
    align-self: flex-start;
}
.container-admin .success-payment__history h1{
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #cacaca;
    width: 100%;
}
.container-admin .success-payment__history .header__payment-history,
.container-admin .success-payment__history .main__payment-history{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-weight: 600;
}
.container-admin .success-payment__history .main__payment-history{
    border-bottom: 1px solid #cacaca;
    font-weight: unset;
}
.container-admin .success-payment__history .header__payment-history span,
.container-admin .success-payment__history .main__payment-history span{
    width: 25%;
}
.container-admin .success-payment__history .main__payment-history span.customer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4));
    margin-right: 6px;
}
.container-admin .success-payment__history .type,
.container-admin .success-payment__history .amount{
    text-align: center;
    text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
    .container-admin header{
        flex-wrap: wrap;
    }
    .container-admin header .box-total{
        width: 45%;
    }
    .container-admin header .box-total:nth-child(3),
    .container-admin header .box-total:nth-child(4){
        margin-top: 20px;
    }
    .container-admin .container-revenue{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .main__revenue-detail{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .main__revenue-detail .revenue-details,
    .main__revenue-detail .box__circle-chart{
        width: 48%;
    }
    .main__revenue-detail .box__circle-chart{
        margin-top: unset;
        height: 353px;
    }
    .revenue-chart{
        width: 100%;
        height: 600px;
    }
    .container-admin .detail-refuned .history-refuned,
    .container-admin .success-payment__history{
        width: 100%;
    }
    .container-admin .success-payment__history{
        margin-top: 30px;
    }
    .container-admin .detail-revenue{
        flex-wrap: wrap;
    }
    .container-admin .detail-revenue .content__total-quarterly{
        width: 50%;
    }
    .container-admin .user-chart{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        height: unset;
        margin-bottom: 30px;
        justify-content: space-between;
    }
    .container-admin .user-chart h1{
        margin-bottom: 30px;
    }
    .container-admin .user-chart #pieChart{
        width: 45% !important;
        height: 350px !important;
    }
    .container-admin .user-chart .percentage-bar{
        width: 45%;
        align-self: center;
    }
    .container-admin .list-user{
        width: 100%;
    }
    .container-admin .main-job__circle-chart{
        flex-wrap: wrap;
    }
    .container-admin .main-job__circle-chart .box__circle-chart{
        width: 45%;
    }
    .container-admin .chart-job h1{
        margin-bottom: 40px;
    }
    // .container-admin .chart-job{
    //     width: 55%;
    //     height: 397px;
    // }
    // .total-job__detail{
    //     width: 35%;
    //     margin-top: 30px;
    // }
    .container-admin .chart-job,
    .total-job__detail{
        height: 397px;
    }
    .total-job__detail p.adsjob, .total-job__detail p.highpayingjob, .total-job__detail p.normaljob, .total-job__detail p.total-jobs{
        margin: unset;
    }
    .container-admin .detail-refuned .box__request-refund .refuned-ads, 
    .container-admin .detail-refuned .box__request-refund .refuned-high{
        align-items: start;
        overflow-x: scroll;
    }
    .container-admin .detail-refuned .refuned-ads h1, 
    .container-admin .detail-refuned .box__request-refund .refuned-ads .header__refuned-ads, 
    .container-admin .detail-refuned .box__request-refund .refuned-ads .main__refuned-ads{
        width: 1628px;
    }
}
@media screen and (max-width: 768px) {
    .main__revenue-detail{
        flex-direction: column-reverse;
    }
    .main__revenue-detail .revenue-details,
    .main__revenue-detail .box__circle-chart{
        width: 100%;
    }
    .main__revenue-detail .box__circle-chart{
        margin-bottom: 30px;
    }
    .container-admin .list-user,
    .container-admin .list-job{
        overflow-x: scroll;
        align-items: start;
    }
    .revenue-chart{
        height: 500px;
    }
    .container-admin .list-user .header__list-user,
    .container-admin .list-job .header__list-job,
    .container-admin .list-user .body__list-user,
    .container-admin .list-job .body__list-job,
    .container-admin .list-user .pagination,
    .container-admin .list-job .pagination,
    .container-admin .list-user h1,
    .container-admin .list-job h1{
        width: 1300px !important;
    }
    .container-admin .list-user .pagination,
    .container-admin .list-job .pagination{
        align-self: unset;
        justify-content: start;
        padding-left: 6px;
    }
    .container-admin .box__dasboard-job{
        flex-direction: column-reverse;
    }
    .container-admin .chart-job {
        width: 95%;
        height: unset;
    }
    .total-job__detail{
        width: 95%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    .main__revenue-detail{
        flex-wrap: wrap;
    }
    .main__revenue-detail .revenue-details, 
    .main__revenue-detail .box__circle-chart{
        width: 100%;
    }
    .main__revenue-detail .box__circle-chart{
        margin-top: 30px;
    }
    .revenue-chart{
        height: unset;
    }
    .container-admin .detail-revenue{
        width: 85%;
    }
    .container-admin .detail-revenue .content__total-quarterly{
        width: 100%;
    }
    .container-admin .detail-refuned .history-refuned, 
    .container-admin .success-payment__history{
        overflow-x: scroll;
        align-items: start;
    }
    .container-admin .detail-refuned .history-refuned h1,
    .container-admin .success-payment__history h1,
    .container-admin .detail-refuned .history-refuned .header__history-refuned,
    .container-admin .success-payment__history .header__payment-history,
    .container-admin .detail-refuned .history-refuned .main__history-refuned,
    .container-admin .success-payment__history .main__payment-history{
        width: 750px;
    }
    .container-admin .user-chart #pieChart{
        height: 300px !important;
    }
    .container-admin .chart-job, .total-job__detail{
        width: 100%;
    }
}
@media screen and (max-width: 415px) {
    .container-admin header .box-total{
        width: 95%;
    }
    .container-admin header .box-total:nth-child(2){
        margin-top: 20px;
    }
    .revenue-chart,
    .container-admin .chart-job{
        padding: 20px 10px;
    }
    .revenue-chart #myChart{
        height: 300px !important;
    }
    .container-admin .main-job__circle-chart .box__circle-chart{
        width: 95%;
    }
    .main__revenue-detail .box__circle-chart .circle-chart{
        width: 180px;
        height: 180px;
    }
    .main__revenue-detail .box__circle-chart .circle-chart::after{
        width: 120px;
        height: 120px;
    }
    .main__revenue-detail .box__circle-chart h1{
        font-size: 20px;
    }
    .container-admin .user-chart #pieChart{
        height: 260px !important;
    }
}
@media screen and (max-width: 376px) {
    .container-admin .user-chart #pieChart{
        height: 250px !important;
    }
    .container-admin .user-chart .percentage-bar h2{
        font-size: 22px;
    }
}
@media screen and (max-width: 321px) {
    .main__revenue-detail .box__circle-chart .circle-chart, 
    .container-admin .main-job__circle-chart .box__circle-chart .circle-chart{
        width: 160px;
        height: 160px;
    }
    .main__revenue-detail .box__circle-chart .circle-chart::after, 
    .container-admin .main-job__circle-chart .box__circle-chart .circle-chart::after{
        width: 100px;
        height: 100px;
    }
    .container-admin .detail-revenue{
        width: 95%;
    }
    .container-admin .detail-revenue h1, 
    .container-admin .chart-job h1{
        font-size: 20px;
    }
    .container-admin .detail-revenue .content__total-quarterly ul span.title{
        font-size: 18px;
    }
    .container-admin .detail-revenue .content__total-quarterly ul p.view-detail,
    .container-admin .detail-revenue .content__total-quarterly li{
        font-size: 14px;
    }
    .container-admin .user-chart h1{
        font-size: 20px;
    }
    .container-admin .user-chart .percentage-bar h2{
        font-size: 18px;
    }
    .container-admin .user-chart .percentage-bar .percent-user .data-count-user,
    .container-admin .user-chart .percentage-bar .percent-company .data-count-company{
        font-size: 10px;
        font-weight: 700;
    }
}