.container-admin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $backgroundcolor;
    flex-wrap: wrap;
    padding: 30px 0;
}
.container-admin header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.container-admin header .box-total{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 12px 20px;
    border-radius: 5px;
    width: 23%;
}
.container-admin header .box__total-user{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.container-admin header .box__total-thismonth{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.container-admin header .box__total-job{
    background-image: linear-gradient( 270.3deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100% );
}
.container-admin header .box-total .title{
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 550;
    color: white;
    text-transform: capitalize;
}
.container-admin header .box-total .total-content{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 6px;
}
.container-admin header .box-total .view-detail__total{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.container-admin header .box-total .view-detail__total:hover{
    text-decoration: underline;
}
.revenue-chart{
    width: 65%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}
.revenue-chart #myChart{
    font-size: 16px;
}
.revenue-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 25%;
    padding: 20px;
}
.revenue-details .title{
    text-transform: capitalize;
    font-size: 28px;
    width: 100%;
    margin-bottom: 20px;
}
.revenue-details p{
    margin-bottom: unset;
}
.revenue-details p.detail-total{
    font-size: 24px;
    font-weight: 600;
}
.revenue-details p.available{
    text-transform: capitalize;
    color: #CACACA;
    margin-bottom: 20px;
}
.revenue-details p.total-ads,
.revenue-details p.total-postjob,
.revenue-details p.total-refund{
    width: 100%;
    padding: 12px 0 8px 0;
    border-bottom: 1px solid #CACACA;
}
.revenue-details p.total-refund{
    border-bottom: unset;
}
.container-admin .detail-revenue{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.container-admin .detail-revenue h1{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 30px;
}
.container-admin .detail-revenue .content__total-quarterly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25%;
}
.container-admin .detail-revenue .content__total-quarterly ul {
    padding: unset;
}
.container-admin .detail-revenue .content__total-quarterly ul span.title{
    font-size: 24px;
    font-weight: 500;
}
.container-admin .detail-revenue .content__total-quarterly ul p.view-detail{
    font-size: 16px;
    margin-bottom: unset;
    cursor: pointer;
    padding-left: 4px;
}
.container-admin .detail-revenue .content__total-quarterly ul p.view-detail:hover{
    text-decoration: underline;
}
.container-admin .detail-revenue .content__total-quarterly li {
    list-style-type: none;
    padding: 12px 4px 12px 12px ;
    border-bottom: 1px solid #CACACA;
}
.container-admin .detail-revenue .content__total-quarterly li.bottom-total{
    border-bottom: unset;
}
.container-admin .detail-revenue .content__total-quarterly .down__firstquarterly,
.container-admin .detail-revenue .content__total-quarterly .down__secondquarterly,
.container-admin .detail-revenue .content__total-quarterly .down__thirdquarterly,
.container-admin .detail-revenue .content__total-quarterly .down__fourthquarterly{
    display: none;
}
.container-admin .user-chart{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
}
.container-admin .user-chart .percentage-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-admin .user-chart .percentage-bar h1{
    font-size: 24px;
    font-weight: 600;
    margin: 12px 0;
}
.container-admin .user-chart .percentage-bar .frame-percent{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #CACACA;
    margin: 12px 0;
}
.container-admin .user-chart .percentage-bar .percent-user {
    background-color: rgba(254,210,0,0.5);
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.container-admin .user-chart .percentage-bar .percent-user .data-count-user{
    position: absolute;
    top: -96%;
    right: 0;
    font-size: 14px;
    font-weight: 600;
}

.container-admin .user-chart .percentage-bar .percent-company {
    background-color: rgba(0,114,188,0.5);
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.container-admin .user-chart .percentage-bar .percent-company .data-count-company{
    position: absolute;
    top: -96%;
    right: 0;
    font-size: 14px;
    font-weight: 600;
}
.container-admin .list-user{
    width: 65%;
}