@keyframes ShowImg {
    0% {
      transform: scale(0) ;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes shake {
    10%, 90% {
      transform: translateY(-4px);
      opacity: 0.6;
    }
    
    20%, 80% {
      transform: translateY(12px);
      opacity: 0.8;
    }
  
    30%, 50%, 70% {
      transform: translateY(-8px);
      opacity: 0.7;
    }
  
    40%, 60% {
      transform: translateY(16px);
      opacity: 1;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.4;
    }
  }
  @keyframes tickscancv{
    from{
      transform: translateX(-4px);
      opacity: 0.5;
    }
    to{
      transform: translateX(204px);
      opacity: 1;
    }
  }
  @keyframes s3 {
    100% {
      transform: rotate(1turn)
    }
  }
  @keyframes rotate-center {
    0%,100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-360deg);
    }
  }