@import "variable";
@import "home";
@import "login";
@import "footer";
@import "header";
@import "animation";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}