@import "variable";
@import "home";
@import "jobs";
@import "profile";
@import "companies";
@import "cv";
@import "login";
@import "footer";
@import "header";
@import "animation";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica Neue, HelveticaNeueLTPro, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
body.modal-open{
    overflow: hidden;
}