@import "variable";
@import "home";
@import "jobs";
@import "profile";
@import "companies";
@import "cv";
@import 'admin';
@import "payroll";
@import "login";
@import "footer";
@import "header";
@import "animation";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $backgroundcard; 
  }
::-webkit-scrollbar-thumb {
    background: $secondarycolor; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: $btncolor; 
  }
body{
    font-family: Helvetica Neue, HelveticaNeueLTPro, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
body.modal-open{
    overflow: hidden;
}
::selection{
    background-color: rgba(0,0,0,0.1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
@media print {
    .header-app,
    .footer-app {
      display: none !important;
    }
  }