.container-companies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f4f4f7;
}
.main-companies{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 50px;
}
.main-companies p.secondary-text{
  padding-left: 2px;
}
.companies{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 980px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background-color: white;
  margin-bottom: 50px;
}
h2.main-text{
font-size: 44px;
font-weight: 700;
}
.companies > *{
  padding: 0 30px;
}
.header-companies{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 15%;
}
.header-companies span{
  width: 30%;
  font-size: 20px;
  font-weight: 400;
}
.search-companies{
  width: 70%;

}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid black;
  width: 90%;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: black;
  border: 1px solid black;
}

.input:hover + .icon {
  transform: rotate(360deg);
  transition: .3s ease-in-out;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}
.categories-companies{
width: 100%;
}
#categories-search{
width: 20%;
height: 30px;
outline: none;
border-radius: 10px;
padding: 0 4px;
}
.body-companies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
}
.card-companies{
width: 32%;
height: 350px;
margin: 12px 10px 12px 0;
}
.card-company{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
.header-card-company{
  width: 100%;
  height: 50%;
  padding: 8px 8px 0 8px;
}
.header-card-company .background-card-company{
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.header-card-company .avatar-card-company{
  width: 35%;
  height: 50%;
  border-radius: 10px;
  transform: translate(20%, -50%);
  box-shadow: 1px 1px 10px rgb(131, 128, 128);
}
.main-card-company{
display: flex;
flex-direction: column;
justify-content: space-around;
height: 45%;
width: 100%;
padding: 0 8px 8px 8px;
margin-top: 14px;
}
.card-company-name{
font-size: 15px;
font-weight: 500;
text-transform: capitalize;
}
.card-company-jobname,
.card-company-counts{
color: #777777;
}
.card-companies .list-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  background-color: transparent;
  transform: translateY(80%);
  opacity: 0;
  transition: .5s;
  cursor: default;
}
.view-detail__company,
.view-detail__job{
text-decoration: none;
color: black;
padding: 8px;
border-radius: 10px;
background-color: $primarycolor;
width: 100px;
height: 40px;
text-align: center;
align-self: center;
font-weight: 500;
cursor: pointer;
font-size: 13px;
transition: .3s;
}
.view-detail__company:hover,
.view-detail__job:hover{
  box-shadow: 2px 2px 2px 6px $primarycolor;
  border: 4px solid white;
}
.view-detail__company{
  width: 130px;
}
.card-company:hover{
border: 1px solid $primarycolor;
}

.card-company:hover  .list-detail{
opacity: 1;
cursor: pointer;
transform: translateY(40%);
}
header.companyinformation{
width: 100%;
height: 370px;
background-repeat: no-repeat;
background-size: 100% 370px;
background-position: center;
}
nav.companyinformation {
width: 100%;
height: 120px;
display: flex;
flex-direction: row;
align-items: center;
border-bottom: 1px solid $primarycolor; 
}
nav.companyinformation img {
width: 10%;
height: 80%;
margin-left: 10%;
margin-right: 30px;
}
.navcompany-center {
width: 70%;
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-between;
color: #777777;
}
.navcompany-center span{
font-size: 14px;
font-weight: 400;
}
.navcompany-center .first-text{
font-size: 24px;
font-weight: 500;
color: black;
}
.body-companyinformation{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
min-height: 300px;
background-color: #f4f4f7;
}
.body-companyinformation h1{
margin: 30px 0;
}
.companyinformation-showjob{
width: 80%;
min-height: 10%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 10px 20px;
margin-bottom: 30px;
}
.companyinformation-showjob ul{
  margin-bottom: unset;
}
.companyinformation-showjob p {
font-size: 20px;
font-weight: 500;
}
.companyinformation-showjob .jobs-companyinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  width: 95%;
  margin-bottom: 16px;
  height: 46px;
}
.job-companyinfo{
padding: 10px 0;
width: 80%;
border-bottom:unset !important;
margin-bottom: unset !important;
}
.job-companyinfo-action{
  list-style-type: none;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.job-companyinfo-action a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 34px;
  border: 1px solid #999999;
  transition: .3s;
}
.job-companyinfo-action a:hover{
  background-color: $primarycolor;
  color: white;
}
.main-company-detail{
  background-color: #f9f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-company-detail > * {
  margin: 10px 0;

}
.main-company-detail header.company-detail{
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #efefef;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
header.company-detail .background-company-detail{
  width: 100%;
  height: 60%;
}
.main__header-company-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}
.header__primary-company-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}
.logo-company-detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding-left: 40px;
}
.header__primary-company-detail .logo-company-detail img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 1px 1px 8px #999999;
  transform: translateY(-15%);
}
.header__primary-company-detail .logo-company-detail span{
  font-size: 30px;
  font-weight: 500;
  margin-left: 16px;
}
.follow-company-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 18%;
}
.follow-company-detail button{
  outline: none;
  width: 100px;
  height: 40px;
  background-color: $primarycolor;
  color: black;
  border: 1px solid $primarycolor;
  border-radius: 10px;
  font-weight: 600;
  transition: .5s;
}
.follow-company-detail button.following{
  width: 120px;
}
.follow-company-detail button:hover{
  background-color: white;
  color: #1CACF4;
  border: 1px solid #1CACF4;
}
.follow-company-detail button.following:hover{
  background-color: white;
  color: #FC0404;
  border: 1px solid #FC0404;
}
.header__info-company-detail{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding-left: 40px;
  height: 22%;
}
.header__info-company-detail span{
  padding: 0 10px;
  text-align: center;
  height: 100%;
  cursor: pointer;
  margin: 0 4px;
}
.header__info-company-detail span:hover{
  color: $primarycolor;
  border-bottom: 3px solid $primarycolor;
}
.header__info-company-detail span.about-us{
  color: $primarycolor;
  border-bottom: 3px solid $primarycolor;
}
.body-about-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #efefef;
  border-radius: 5px;
  width: 80%;
}
.company-desc{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company-desc span.desc__first-text,
.company-leadership__text span.leadership__first-text{
  font-size: 38px;
  font-weight: 700;
  padding: 16px 0;
}
.company-leadership__text span.leadership__first-text{
  padding: 0 0 16px 0;
}
.company-desc span.desc__second-text,
.company-leadership__text span.leadership__second-text{
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 ;
  letter-spacing: 1.3px;
}
.company-leadership {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 0;
}
.contact-company{
  padding-bottom: 16px;
}
.contact-company span{
  padding: unset !important;
}
.company-leadership .company-leadership__text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.company-leadership__info-total,
.carousel {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* changed from space-around */
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}
.carousel {
  width: 100%;
  overflow: hidden;
}
.company-leadership__info-total button#left{
  position: absolute;
  font-size: 48px;
  left: -36px;
  z-index: 20;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: none;
}
.company-leadership__info-total button#right{
  position: absolute;
  font-size: 48px;
  right: -36px;
  z-index: 20;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.company-leadership__info-total button#left:hover,
.company-leadership__info-total button#right:hover{
  color: $primarycolor;
}
.company-leadership__info-total .company-leadership__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
}
.company-leadership__info-total .company-leadership__info:first-child{
  margin-left: 0;
}
.total-leadership {
  width: 360px;
  height: 579px;
  cursor: pointer;
  transition: .3s;
}
.total-leadership:hover{
  transform: scale(0.98);
}
.company-leadership__info .company-leadership__info-text {
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: black;
  width: 347px;
  text-transform: uppercase;
}
.company-leadership__info-text span.first,
.show__main-info-leadership .introduce-leadership span.first{
  font-size: 30px;
  font-weight: 700;
  height: 80%;
}
.company-leadership__info-text span.second,
.show__main-info-leadership .introduce-leadership span.second{
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  height: 20%;
}
.company-leadership__info-text span.second{
  color: #b9c2c4;
  letter-spacing: 4px;
}
.show__main-info-leadership{
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 600px;
  background-color: white;
  top: 7%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 100;
}
.show__main-info-leadership img{
  height: 100%;
  width: 30%;
}
.show__main-info-leadership .introduce-leadership{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.show__main-info-leadership .introduce-leadership span.first{
  height: 40px;
  text-transform: uppercase;
}
.show__main-info-leadership .introduce-leadership span.second{
  height: 20px;
  letter-spacing: 4px;
  color: #b8c2c4;
  text-transform: uppercase;
} 
.show__main-info-leadership .introduce-leadership p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 20px 20px 0 0;
}
.show__main-info-leadership i {
  font-size: 50px;
  cursor: pointer;
  transform: translate(2px,-14px);
  color: black;
  height: 50px;
  width: 50px;
}
.show__main-info-leadership i:hover{
  color: #FC0404;
}
.overplay{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display: none;
  cursor: pointer;
  top: 0;
  right: 0;
}