.container-cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}
.header-cv{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    color: white;
    transform: translateY(70%);
    transition: 0.5s;
}
.header-cv .intro-title{
    font-size: 40px;
    font-weight: 700;
    height: 48px;
}
.header-cv .intro-surprise{
    font-size: 40px;
    font-weight: 700;
    color: $btncolor;
    height: 48px;
    margin-bottom: 30px;
}
.header-cv .intro-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 25%;
    height: 24px;
    margin-bottom: 50px;
}
.header-cv .intro-text b {
    color: $btncolor;
}
.header-cv .btn-cv{
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: 1px solid $btncolor;
    width: 150px;
    text-align: center;
    transition: 0.5s;
    background-color: transparent;
    padding: 4px;
}
.header-cv .btn-cv:hover{
    background-color: $btncolor;
}
.header-cv .animation-roll{
  margin-top: 30px;
  animation-fill-mode: forwards;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header-cv .animation-roll i {
  font-size: 50px;
  position: relative;
  cursor: pointer;
}
.free-design,
.easy-operation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;
    margin-bottom: 100px;
    transition: 0.5s;
}
.free-design{
    transform: translateX(400%);
}
.easy-operation{
    transform: translateX(-200%);
}
.free-design-left,
.easy-operation-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 382px;
}
.free-design-left > *,
.easy-operation-right > *,
.download-cv-left > *,
.interview-right > *,
.stepbystep-cv > * {
    margin: 10px 0;
    letter-spacing: 1.3px;
}
.easy-operation-right > *,
.interview-right > *,
.stepbystep-first > * {
    padding: 0 30px;
}
.free-design-title,
.easy-tilte,
.download-title,
.interview-title{
    font-size: 40px;
    font-weight: 700;
}
.free-design-text,
.easy-text,
.download-text,
.interview-text,
.first-text{
    font-size: 16px;
    font-weight: 400;
    color: #565656;
}
.free-design-right,
.easy-operation-left{
    width: 45%;
    height: 382px;
}
.free-design-right img,
.easy-operation-left img {
    height: 100%;
    width: 100%;
}
.download-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;
    margin-bottom: 100px;
    transform: translateX(400%);
    transition: 0.5s;
}
.download-cv-left,
.interview-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 320px;
}
.interview-right{
    height: 450px;
}
.download-cv-right{
    width: 45%;
    height: 320px;
}
.download-cv-right img {
    width: 100%;
    height: 100%;
}
.interview-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;
    margin-bottom: 100px;
    transform: translateX(-200%);
    transition: 0.5s;
}
.interview-left {
    width: 50%;
    height: 450px;
}
.interview-left img {
    width: 100%;
    height: 100%;
}
.interview-action{
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid $btncolor;
    width: 34%;
    height: 40px;
    padding: 8px 0 !important;
    background-color: transparent;
    margin-left: 30px;
}
.interview-action:hover {
    background-color: $btncolor;
}
.stepbystep-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    color: white;
    margin-bottom: 100px;
    transform: translateX(400%);
    transition: 0.5s;
}
.stepbystep-header{
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 40px;
    font-weight: 700;
}
.stepbystep-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 450px;
}
.stepbystep-first{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 32%;
}
.stepbystep-right{
    width: 45%;
    height: 450px;
}
.stepbystep-right img {
    width: 100%;
    height: 100%;
    background-color: white;
}
.first-title{
    font-size: 20px;
    font-weight: 500;
    align-self: start;
}
// create-cv
.main__create-cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-color: rgb(49,49,49);
}
.main__create-cv .header-background{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 420px;
  background: linear-gradient(to top,#31313133, #0072bc33), url('/img/header-createcv.jpg') center / cover no-repeat;
}
.main__create-cv .header-background span {
  font-size: 40px;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.main__create-cv header.action-create-cv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  z-index: 20;
  // position: absolute;
  // top: 53%;
  border-bottom: 1px solid #5e5d5d;
}
.main__create-cv header.action-create-cv span{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 70px;
}
.main__create-cv header.action-create-cv span > *{
  margin: 0 8px;
}
.main__create-cv header.action-create-cv .download-create-cv button{
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: $btncolor;
  color: white;
  width: 150px;
  height: 34px;
  padding: 4px 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__create-cv header.action-create-cv .download-create-cv button:hover{
  background-color: $secondarycolor;
}
.main__create-cv header.action-create-cv span:hover {
  color: $btncolor;
}
.body__create-cv{
  width: 60%;
}
.main__create-cv header.action-create-cv .library-font{
  position: absolute;
  left: 18%;
  bottom: -450%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.main__create-cv header.action-create-cv .library-font p.font-title{
  padding: 4px 12px;
}
.main__create-cv header.action-create-cv .library-font .option-font{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px 12px;
  font-size: 18px;
}
.main__create-cv header.action-create-cv .library-font .option-font-size{
  font-size: 18px;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-top: 1px solid #d5d6d6;
}
.main__create-cv header.action-create-cv .library-font .option-font:hover label{
  color: $secondarycolor;
}
.main__create-cv header.action-create-cv .library-font .option-font-size p.font-size__title,
.main__create-cv header.action-create-cv .library-font p.font-title {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: unset;
  font-weight: 600;
}
.main__create-cv header.action-create-cv .library-font .option-font-size .select-font__size label,
.main__create-cv header.action-create-cv .library-font .option-font-size .select-font__size input,
.main__create-cv header.action-create-cv .library-font .option-font label{
  cursor: pointer;
}
.arimo{
  font-family: 'Arimo', sans-serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
.sourcesans3{
  font-family: 'Source Sans 3', sans-serif;
}
.notosans{
  font-family: 'Noto Sans', sans-serif;
}
.library-color{
  position: absolute;
  bottom: -300%;
  left: 35%;
  display: none;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 200px;
  padding: 4px 12px;
  background-color: black;
  border-radius: 5px;
}
.library-color p.color-title{
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 4px;
}
.library-color .option-color{
  width: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 8px 0;
}
.library-color .option-color label{
  width: 50%;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.library-color .option-color label.fed200{
  background-color: #fed200;
}
.library-color .option-color label.f04c40{
  background-color: #f04c40;
}
.library-color .option-color label.f99e3d{
  background-color: #f99e3d;
}
.library-color .option-color label.a3f59a8{
  background-color: #3f59a8;
}
.library-color .option-color label.a0072bc{
  background-color: #0072bc;
  outline-offset: 4px;
  outline: 2px solid #0072bc;
}
.library-color .option-color label.a6f429a{
  background-color: #6f429a;
}
.library-color .option-color label.a74c33a{
  background-color: #74c33a;
}
.library-color .option-color label.caa878{
  background-color: #caa878;
}
.library-color .option-color label.a9d1c38{
  background-color: #9d1c38;
}
.library-color .option-color label.a555555{
  background-color: #555555;
}
.library-color .option-color label.a193042{
  background-color: #193042;
}
.library-color .option-color label.a4a1a67{
  background-color: #4a1a67;
}
.a4 {
  width: 210mm; 
  min-height: 297mm;
  margin: 0 auto;
  box-sizing: border-box; 
  position: relative;
  page-break-after: always; 
  margin-top: 100px;
  margin-bottom: 100px;
}
.body__create-cv header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: $secondarycolor;
  color: white;
  padding: 16px 20px;
}
.body__create-cv header .info__user-cv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.body__create-cv header .info__user-cv .primary__user-cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}
.body__create-cv header  input,
.body__create-cv header  textarea{
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0 8px;
  text-transform: capitalize;
}
.body__create-cv header  textarea#email{
  text-transform: none;
}
.body__create-cv header  textarea::placeholder{
  color: white;
}
.body__create-cv header input:hover,
.body__create-cv header  textarea:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.body__create-cv header input:focus,
.body__create-cv header textarea:focus{
  background-color: #fff;
  color: black;
  outline: 1px solid #ccc;
  box-shadow: 0px 0px 0px 8px white;
  border-radius: 2px;
}
.body__create-cv header .info__user-cv .primary__user-cv input.fullname__user-cv{
  font-size: 30px;
  font-weight: 700;
  width: 80%;
  text-transform: capitalize;
  padding: 0 6px 0 0 !important;
}
.body__create-cv header .info__user-cv .primary__user-cv input.fullname__user-cv::placeholder{
  color: white;
}
.body__create-cv header .info__user-cv .primary__user-cv input.specialized{
  font-weight: 600;
  width: 80%;
  text-transform: capitalize;
  padding: 0 6px 0 0 !important;
}
.body__create-cv header .info__user-cv .primary__user-cv input.specialized::placeholder{
  color: white;
}
.body__create-cv header .info__user-cv .secondary__user-cv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.body__create-cv header .info__user-cv .secondary__user-cv .box__user-cv{
  width: 95%;
  min-height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body__create-cv header .info__user-cv .secondary__user-cv label{
  font-size: 16px;
  font-weight: 600;
  width: 20%;
  padding: 4px 8px 4px 0;
}
.body__create-cv header .info__user-cv .secondary__user-cv textarea {
  font-size: 14px;
  width: 75%;
  margin-right: 4px;
  resize: none;
  padding: 4px 8px;
}
.body__create-cv header .avatar__user-cv{
  width: 30%;
  position: relative;
}
.body__create-cv header .avatar__user-cv img{
  width: 90%;
  height: 150px;
  object-fit: fill;
  cursor: pointer;
  opacity: 1;
}
.change-avatar__user-cv{
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.8);
  top: -5px;
  left: -4px;
  border-radius: 5px;
}
.change-avatar__user-cv .upload-avatar__user-cv{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
}
.change-avatar__user-cv .upload-avatar__user-cv label i:hover{
  color: $btncolor;
  cursor: pointer;
}
.change-avatar__user-cv .none-avatar{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 20%;
  height: 100%;
  font-size: 24px;
  color: black;
}
.change-avatar__user-cv .none-avatar i:hover{
  cursor: pointer;
  color: $btncolor;
}
.body__user-cv{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}
.overview__user-cv{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
}
.body__user-cv textarea{
  font-size: 14px;
  width: 100%;
  resize: none;
  padding: 4px 8px;
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  padding: 0 8px;
}
.body__user-cv textarea:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.body__user-cv textarea:focus{
  background-color: #fff;
  color: black;
  outline: 1px solid #ccc;
  box-shadow: 0px 0px 0px 60px rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}
.body__user-cv textarea.overview-text:focus,
.body__user-cv textarea.workexp-text:focus,
.body__user-cv textarea.education-text:focus,
.body__user-cv textarea.skill-text:focus,
.body__user-cv textarea.project-text:focus{
  color: $secondarycolor;
  box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.8);
}
.body__user-cv textarea.overview-text,
.body__user-cv textarea.workexp-text,
.body__user-cv textarea.education-text,
.body__user-cv textarea.skill-text,
.body__user-cv textarea.project-text{
  color: $secondarycolor;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #d5d6d6;
  margin-bottom: 18px;
}
.overview__user-cv .work-exp,
.overview__user-cv .education-user{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  position: relative;
}
.overview__user-cv .work-exp .date__work-exp,
.overview__user-cv .education-user .date__education{
  width: 20%;
}
.overview__user-cv .work-exp .action__add-remove,
.overview__user-cv .education-user .action__add-remove-education,
.body__user-cv .project__user-cv .action__add-remove-project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  position: absolute;
  top: -35%;
  left: -7%;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.overview__user-cv .work-exp .date__work-exp .action__add-remove span:hover,
.overview__user-cv .education-user .action__add-remove-education span:hover,
.body__user-cv .project__user-cv .action__add-remove-project span:hover{
  color: $btncolor;
}
.overview__user-cv .work-exp .date__work-exp textarea,
.overview__user-cv .education-user .date__education textarea,
.skill__user-cv .main-skill .main-info textarea#main,
.skill__user-cv .other-skill .other-info textarea#other,
.project__user-cv .box-project .title-project textarea{
  font-weight: 700;
}
.overview__user-cv .work-exp .info__work-exp,
.overview__user-cv .education-user .info__education{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.overview__user-cv .work-exp .info__work-exp #name-company,
.overview__user-cv .education-user .info__education #name-education{
  font-weight: 700;
}
.skill__user-cv .main-skill,
.skill__user-cv .other-skill{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.skill__user-cv .other-skill{
  margin-top: 20px;
  position: relative;
}
.skill__user-cv .other-skill .remove__other-skill{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -6.5%;
  opacity: 0;
}
.skill__user-cv .other-skill .remove__other-skill i:hover{
  color: #FC0404;
}

.skill__user-cv .main-skill .main-info,
.skill__user-cv .other-skill .other-info,
.body__user-cv .project__user-cv .box-project .title-project{
  width: 20%;
}
.skill__user-cv .main-skill textarea#main-content,
.skill__user-cv .other-skill textarea#other-content{
  width: 80%;
}
.project__user-cv .table-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.body__user-cv .project__user-cv .box-project{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}
.body__user-cv .project__user-cv .main__info-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: black;
  font-weight: 500;
  position: relative;
}
.body__user-cv .project__user-cv .main__info-project textarea:first-child{
  font-weight: 600;
  text-transform: uppercase;
}
.body__user-cv .project__user-cv .box-project .content-project{
  width: 80%;
}
// manager cv
.container__manager-cv{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: $backgroundcolor;
}
.main__manager-cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.main__manager-cv header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 8px 20px;
  background: linear-gradient(269.85deg, #0072bc 0%, #121212 54.89%);
  height: 220px;
  color: white;
}
.main__manager-cv header p b{
  color: $btncolor;
  font-size: 18px;
  font-weight: 600;
}
.main__manager-cv section{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-height: 280px;
}
.main__manager-cv section .header-section{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #d5d6d6;
  width: 100%;
  font-size: 20px;
}
.main__manager-cv section .header-section span{
  font-weight: 600;
  margin-right: 30px;
  padding: 16px 0;
  cursor: pointer;
  text-align: center;
}
.main__manager-cv section .header-section span.cv-passed{
  border-bottom: 3px solid $btncolor;
  color: $btncolor;
  cursor: default;
}
.main__manager-cv section .loading-manager{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main__manager-cv section .loading-manager .custom-loader{
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main__manager-cv section .box__passed-cv,
.main__manager-cv section .box__failed-cv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
}
.main__manager-cv section .box__failed-cv{
  display: none;
}
.main__manager-cv section .box__passed-cv h2,
.main__manager-cv section .box__failed-cv h2{
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
}
.main__manager-cv section .box__passed-cv h2 b,
.main__manager-cv section .box__failed-cv h2 b{
  color: $btncolor;
  font-weight: 600;
}
.main__manager-cv section .box__passed-cv .card__passed-cv,
.main__manager-cv section .box__failed-cv .card__failed-cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 46%;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  color: black;
  transition: .5s;
}
.main__manager-cv section .box__passed-cv .card__passed-cv span,
.main__manager-cv section .box__failed-cv .card__failed-cv span{
  padding: 0 0 12px 0 ;
  transition: .5s;
}
.main__manager-cv section .box__passed-cv .card__passed-cv:hover,
.main__manager-cv section .box__failed-cv .card__failed-cv:hover{
  border: 1px solid $secondarycolor;
  box-shadow: 0 2px 4px $secondarycolor;
}
.main__manager-cv section .box__passed-cv .card__passed-cv:hover .name-file span,
.main__manager-cv section .box__failed-cv .card__failed-cv:hover .name-file span{
  color: #0072bc;
  text-decoration: underline;
}
.show-notification{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: white;
  padding: 8px 16px;
}
.show-notification h1{
  color: black;
  padding: 12px 0;
  margin: unset;
  font-weight: 600;
}
.show-notification p{
  margin: unset;
  padding: 20px 0;
  color: #949494;
  border-bottom: 1px solid #949494;
  text-align: justify;
}
.show-notification .close-notification{
  color: #E40404;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
}
.overlay-notification{
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
}
@media screen and (max-width: 1440px) {
  .main__create-cv header.action-create-cv{
    top: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .main__create-cv header.action-create-cv{
    top: 37%;
  }
  .main__manager-cv{
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .header-cv{
    transform: translateY(50%);
  }
  .main__create-cv header.action-create-cv{
    top: 49.5%;
  }
  .main__create-cv header.action-create-cv span{
    margin: 0 30px;
  }
  .a4{
    width: 95% !important;
  }
  .free-design, 
  .easy-operation,
  .interview-cv,
  .download-cv,
  .stepbystep-cv {
    width: 90%;
  }
  .free-design-title, 
  .easy-tilte, 
  .download-title, 
  .interview-title{
    font-size: 35px;
  }
  .easy-operation-right > *, 
  .interview-right > *, 
  .stepbystep-first > *{
    padding: unset;
  }
  .interview-action{
    width: 45%;
    margin-left: unset;
  }
  .stepbystep-header{
    height: unset;
  }
  .stepbystep-left > *{
    margin: 4px 0;
  }
  .free-design-left{
    width: 50%;
    text-align: justify;
  }
  .main__manager-cv section .box__passed-cv h2, 
  .main__manager-cv section .box__failed-cv h2{
    font-size: 18px;
  }
  .main__manager-cv section .box__passed-cv .card__passed-cv, 
  .main__manager-cv section .box__failed-cv .card__failed-cv{
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header-cv .intro-text{
    height: 50px;
  }
  .main__create-cv header.action-create-cv{
    top: 62.5%;
  }
  .main__create-cv header.action-create-cv span{
    font-size: 18px;
    margin: 0 20px;
  }
  .free-design-title, 
  .easy-tilte, 
  .download-title, 
  .interview-title{
    font-size: 30px;
  }
  .free-design-text, 
  .easy-text, 
  .download-text, 
  .interview-text, 
  .first-text{
    font-size: 14px;
  }
  .interview-action {
    width: 55%;
  }
  .body__create-cv header .info__user-cv .primary__user-cv input.fullname__user-cv,
  .body__create-cv header .info__user-cv .primary__user-cv input.specialized{
    width: 95%;
  }
}
@media screen and (max-width: 415px) {
  .header-cv .intro-title,
  .header-cv .intro-surprise {
    font-size: 24px;
  }
  .main__create-cv header.action-create-cv{
    top: 68%;
  }
  .main__create-cv header.action-create-cv span{
    font-size: 12px;
    margin: 0 12px;
  }
  .main__create-cv header.action-create-cv .download-create-cv button{
    width: 110px;
  }
  .header-cv .intro-surprise{
    margin-bottom: unset;
  }
  .header-cv .intro-text{
    font-size: 14px;
    padding: 0 18%;
  }
  .free-design, 
  .easy-operation,
  .download-cv,
  .interview-cv,
  .stepbystep-cv{
    flex-direction: column;
    margin-bottom: 50px;
  }
  .free-design-left,
  .free-design-right,
  .easy-operation-left,
  .easy-operation-right,
  .download-cv-left,
  .download-cv-right,
  .interview-left,
  .interview-right,
  .stepbystep-left,
  .stepbystep-right{
    width: 100%;
    height: 200px;
    align-items: center;
    text-align: center;
  }
  .free-design-left,
  .download-cv-left,
  .stepbystep-left{
    height: unset;
    margin-bottom: 12px;
  }
  .easy-operation-right,
  .interview-right{
    margin-top: 12px;
    height: unset;
  }
  .stepbystep-header{
    font-size: 28px;
  }
  .first-title{
    align-self: unset;
  }
  .body__create-cv header .info__user-cv .secondary__user-cv textarea{
    width: 50%;
  }
  .main__manager-cv{
    width: 98%;
  }
}
@media screen and (max-width: 376px) {
  .main__create-cv header.action-create-cv{
    top: 61.5%;
  }
  .main__create-cv header.action-create-cv span{
    font-size: 12px;
    margin: 0 8px;
  }
  .main__create-cv header.action-create-cv .download-create-cv button{
    width: 100px;
  }
}
@media screen and (max-height: 668px) {
  .main__create-cv header.action-create-cv{
    top: 75%;
  }
}
@media screen and (max-width: 321px) {
  .header-cv{
    transform: translateY(30%);
  }
  .header-cv .intro-title, 
  .header-cv .intro-surprise {
    font-size: 20px;
  }
  .header-cv .intro-text {
    padding: 0 10%;
  }
  .main__create-cv header.action-create-cv{
    top: 88%;
  }
  .main__create-cv header.action-create-cv span{
    font-size: 10px;
    margin: 0 4px;
  }
  .main__create-cv header.action-create-cv .download-create-cv button{
    width: 90px;
    height: 24px;
  }
  .main__manager-cv section .box__passed-cv h2, 
  .main__manager-cv section .box__failed-cv h2{
    text-align: center;
  }
  .main__manager-cv section .header-section{
    font-size: 18px;
  }
}
