.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
    padding: unset;
    // background-color: $primarycolor;
    // background-image: linear-gradient(to bottom right, rgba(255,255,255,0.1),rgba(255,255,255,0.4));
}
.navbar-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 20%;
    height: 100%;
    position: relative;
}
.navbar-left a {
    text-decoration: none;
}
.navbar-left .litle-text{
    font-size: 12px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.2px;
    width: 100%;
    position: absolute;
    bottom: 13px;
    left: 17%;
}
.litle-text p {
    margin: unset;
}
.navbar-left__primary{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 342px;
    height: 50px;
}
.navbar-left .navbar-left__primary img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.navbar-left .navbar-left__primary a {
    font-size: 28px;
    font-weight: 700;
    color: $primarycolor;
    align-self: start;
}
.navbar-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    color: $primarycolor;
}
.navbar-center a {
    color: $primarycolor;
    text-decoration: none;
}
.navbar-center ul {
    margin: unset;
}
.drop-down__tools,
.drop-down__company{
    position: relative;
    padding: 25px 0 25px 0;
}
.down__tools,
.down__company{
    position: absolute;
    top: 78px;
    left: -83%;
    display: none;
    list-style-type: none;
    color: $primarycolor;
    font-size: 20px;
    font-weight: 700;
    width: 130px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid $primarycolor;
    text-align: center;
    padding: unset;
    z-index: 100;
}
.down__tools{
    left: -43%;
}
.down__company{
    top: 80px;
    left: -42%;
    width: 160px;
}
.down__tools li,
.down__company li{
    padding: 8px 10px ;
}
.drop-down__tools:hover,
.drop-down__company:hover{
    cursor: pointer;
}
.drop-down__tools:hover .down__tools,
.drop-down__company:hover .down__company {
    display: block;
}
.down__tools a:hover,
.down__company a:hover{
    text-decoration: underline;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
}
.navbar-right > * {
    margin: 0 12px;
}
.navbar-right img{
    width: 50px;
    height: 50px;
}
.navbar-right a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: $primarycolor;
}

.drop-down__contact{
    position: relative;
    padding: 30px 0;
    z-index: 100;
}
.contact i {
    font-size: 20px;
    color: $primarycolor;
}
.down__contact,
.down__user{
    position: absolute;
    top: 84px;
    left: -40px;
    display: none;
    list-style-type: none;
    color: $primarycolor;
    font-size: 20px;
    font-weight: 700;
    width: 220px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid $primarycolor;
    text-align: center;
    padding-left: unset;
    z-index: 100;
}
.down__user{
    width: 150px;
    height: 100px;
    top: 92px;
    left: -55px;
    z-index: 100;
}
.down__user-company{
    width: 230px;
    height: 150px;
    left: -130px;
    z-index: 100;
}
.down__contact li,
.down__user li {
    padding: 8px 10px;
}
.drop-down__contact:hover .down__contact{
    display: block;
}
.send-mail:hover{
    text-decoration: underline;
}
.drop-down__user{
    color: $primarycolor;
    position: relative;
    padding: 30px 12px;
    margin: unset;
}
.drop-down__user img {
    border-radius: 50%;
    padding: 2px;
    border: 2px solid $primarycolor;
    cursor: pointer;
}
.drop-down__user:hover .down__user{
    display: block;
}
.down__user li:hover {
    text-decoration: underline;
}