.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
    padding: unset;
    // background-color: $primarycolor;
    // background-image: linear-gradient(to bottom right, rgba(255,255,255,0.1),rgba(255,255,255,0.4));
}
.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
    transform: translatey(-5%);
}
.navbar-left a {
    text-decoration: none;
}
.navbar-left img{
    width: 56px;
    height: 56px;
}
.navbar-left .header-text span {
    font-size: 20px;
    font-weight: 700;
    color: $primarycolor;
}
.header-text{
    display: flex;
    flex-direction: column;
    transform: translateY(10%);
}
.header-text a{
    height: 24px;
}
.header-text .litle-text{
    font-size: 10px;
    font-weight: 500;
    color: $primarycolor ;
    align-self: end;
}
.litle-text p {
    margin: unset;
}
.navbar-center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    color: $primarycolor;
}
.navbar-center a {
    color: $primarycolor;
    text-decoration: none;
}
.navbar-center ul {
    margin: unset;
}
.drop-down__tools{
    position: relative;
    padding: 25px 0 25px 0;
}
.down__tools{
    position: absolute;
    top: 78px;
    left: -83%;
    display: none;
    list-style-type: none;
    color: $primarycolor;
    font-size: 20px;
    font-weight: 700;
    width: 130px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid $primarycolor;
    text-align: center;
    padding: unset;
}
.down__tools li{
    padding: 8px 10px ;
}
.drop-down__tools:hover{
    cursor: pointer;
}
.drop-down__tools:hover .down__tools {
    display: block;
}
.down__tools a:hover{
    text-decoration: underline;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
}
.navbar-right > * {
    margin: 0 12px;
}
.navbar-right img{
    width: 50px;
    height: 50px;
}
.navbar-right a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: $primarycolor;
}
.drop-down__contact{
    position: relative;
    padding: 30px 0;
    z-index: 10;
}
.contact i {
    font-size: 20px;
    color: $primarycolor;
}
.down__contact,
.down__user{
    position: absolute;
    top: 84px;
    left: -40px;
    display: none;
    list-style-type: none;
    color: $primarycolor;
    font-size: 20px;
    font-weight: 700;
    width: 220px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid $primarycolor;
    text-align: center;
    padding-left: unset;
}
.down__user{
    width: 150px;
    height: 100px;
    top: 92px;
    left: -55px;
}
.down__contact li,
.down__user li {
    padding: 8px 10px;
}
.drop-down__contact:hover .down__contact{
    display: block;
}
.send-mail:hover{
    text-decoration: underline;
}
.drop-down__user{
    color: $primarycolor;
    position: relative;
    padding: 30px 12px;
    margin: unset;
}
.drop-down__user img {
    border-radius: 50%;
    padding: 2px;
    border: 2px solid $primarycolor;
    cursor: pointer;
}
.drop-down__user:hover .down__user{
    display: block;
}
.down__user li:hover {
    text-decoration: underline;
}