@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lilita+One&display=swap');

.container-home {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}

.first-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
}

.first-content img.parallax-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}

.container-home .first-content .search-home {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 495px;
    border-radius: 5px;
    position: absolute;
    left: 6%;
    top: 12%;
}

.container-home .first-content .search-home span.title {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 30px 0 30px;
}

.container-home .first-content .search-home span.countjob {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    padding: 0 30px 4px 30px;
}

.container-home .first-content .search-home .box-search__home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-bottom: 20px;
}

.container-home .first-content .search-home .box-search__home .search-namecompany {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 12px 0;
}

.container-home .first-content .search-home .box-search__home .search-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-home .first-content .search-home .box-search__home .search-namecompany label,
.container-home .first-content .search-home .box-search__home .search-position label,
.container-home .first-content .search-home .box-search__home .search-categories label {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-home .first-content .search-home .box-search__home .search-position label,
.container-home .first-content .search-home .box-search__home .search-categories label {
    width: 20%;
}

.container-home .first-content .search-home .box-search__home .search-namecompany input {
    width: 89%;
    height: 98%;
    border: none;
    outline: none;
    background-color: transparent;
}

.container-home .first-content .search-home .box-search__home .search-position select,
.container-home .first-content .search-home .box-search__home .search-categories select,
.container-home .first-content .search-home .box-search__home .search-position select:focus,
.container-home .first-content .search-home .box-search__home .search-categories select:focus {
    width: 79%;
    height: 98%;
    border: none !important;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.container-home .first-content .search-home .box-search__home .search-position,
.container-home .first-content .search-home .box-search__home .search-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 50px;
}

.container-home .first-content .search-home .box-search__home .search-categories {
    margin-right: 12px;
}

.container-home .first-content .search-home .box-search__home .search-namecompany,
.container-home .first-content .search-home .box-search__home .search-position,
.container-home .first-content .search-home .box-search__home .search-categories {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.container-home .first-content .search-home .action-search {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30px;
}

.container-home .first-content .search-home .action-search button {
    width: 100%;
    height: 100%;
    border: 2px solid $secondarycolor;
    background-color: transparent;
    color: $secondarycolor;
    font-weight: 600;
    border-radius: 5px;
    transition: .5s;
    font-size: 18px;
    text-transform: uppercase;
}

.container-home .first-content .search-home .action-search button:hover {
    color: white;
    background-color: $secondarycolor;
}

.container-home .first-content .search-home .find-company {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,114,188,0.1);
    margin: unset;
    padding: 12px 30px 20px 30px;
}

.container-home .first-content .search-home .find-company span {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
    align-self: start;
    color: #5f697c;
}

.container-home .first-content .search-home .find-company .discover-company {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.container-home .first-content .search-home .find-company a {
    width: 100%;
    height: 100%;
    border: 2px solid $secondarycolor;
    background-color: transparent;
    color: $secondarycolor;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
}

.container-home .first-content .search-home .find-company a:hover {
    background-color: $secondarycolor;
    color: white;
}

.container-home .first-content .toprecruiters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 4%;
    left: 0;
}
.container-home .first-content .toprecruiters span.title-toprecruiters{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
    color: $primarycolor
}
.container-home .first-content .toprecruiters .list-toprecruiters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 210px;
    margin: 16px 0;
    border: 1px solid #d3d5d9;
    background: white;
    border-radius: 5px;
}
.container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter:hover{
    border: 1px solid $secondarycolor;
    box-shadow: 0 5px 10px $secondarycolor;
}
.container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter .top__card-recruiter{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}
.container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter .top__card-recruiter #content-top__recruiter{
    font-size: 18px;
    font-weight: 600;
    background-color: $secondarycolor;
    color: white;
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 12px;
} 
.container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter .top__recruiter-avatar{
    width: 95%;
    height: 60%;
}
.container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter .recruiter__jobcount{
    font-size: 18px;
    font-weight: 500;
    color: $secondarycolor;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-feature {
    width: 100%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 640px;
}

.company-feature .header__company-feature {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 50px;
}

.company-feature .header__company-feature span {
    margin: 0 20px;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    cursor: pointer;
    color: $primarycolor;
}

.company-feature .header__company-feature span.hotcompany {
    border-bottom: 4px solid $secondarycolor;
}

// loading 
.custom-loader {
    width: 50px;
    height: 50px;
    display: none;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side, #0000 40%, #000 41%);
    background: linear-gradient(0deg, rgba(244, 228, 109, 0.502) 50%, rgb(242, 244, 109) 0) center/4px 100%,
        linear-gradient(90deg, #f4e96d40 50%, #f4ed6dbf 0) center/100% 4px;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(12);
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.custom-loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

// hot company
.company-feature .box-hotcompany {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
}

.company-feature .box-hotcompany .swiper {
    width: 100%;
    height: 100%;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide {
    font-size: 18px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .background-company {
    height: 60%;
    width: 100%;
    border-radius: 10px;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 0px 18px rgb(244, 244, 247);
    border-radius: 5px;
    transform: translateY(-60%);
    overflow: hidden;
    position: relative;
}
.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .info-company__follow{
    background-color: $secondarycolor;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-top-right-radius: 5px;
    padding: 6px 8px;
    position: absolute;
    top: 0;
    right: 0;
}
.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .left-info span.job-count__company{
    font-size: 12px;
    font-weight: 600;
    color: #8d8d8c;
}
.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company img {
    width: 20%;
    height: 180px;
    background-color: white;
    padding: 12px 0 12px 12px;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    padding: 20px 100px 20px 30px;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .company-name {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .company-field {
    font-size: 16px;
    font-weight: 500;
    color: #ff7d55;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .view-detail__desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .view-detail__desc .company-desc-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
    width: 85%;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .view-detail__desc a {
    align-self: end;
    text-decoration: none;
    width: 15%;
}

.company-feature .box-hotcompany .swiper .swiper-wrapper .swiper-slide .box__info-company .view-detail__desc a:hover {
    text-decoration: underline;
}

.company-feature .box-hotcompany .swiper .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $secondarycolor;
}

.company-feature .box-hotcompany .swiper .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: $secondarycolor;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.company-feature .box-hotcompany .swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: $secondarycolor;
}

.company-feature .box-hotcompany .swiper .swiper-button-next,
.company-feature .box-hotcompany .swiper .swiper-button-prev {
    color: $secondarycolor;
}

// hot job
.company-feature .box-hotjob {
    width: 80%;
    height: 500px;
    display: none;
    margin-bottom: 50px;
}

.company-feature .box-hotjob .swiper {
    width: 100%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

.company-feature .box-hotjob .swiper .swiper-wrapper {
    height: 95%;
    margin-top: 10px;
}

.company-feature .box-hotjob .swiper .swiper-pagination {
    bottom: -5px;
}

.company-feature .box-hotjob .swiper .swiper-slide {
    font-size: 18px;
    background: white;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-feature .box-hotjob .swiper .swiper-slide .box__info-job {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    margin: 0 12px;
    text-decoration: none;
    background-color: $backgroundcolor;
    border: 1px solid #c6c5c5;
    transition: .5s;
}
.company-feature .box-hotjob .swiper .swiper-slide .box__info-job:hover{
    border: 1px solid $secondarycolor;
    box-shadow: 0 5px 15px $secondarycolor;
}
.company-feature .box-hotjob .swiper .swiper-slide .box__info-job img {
    width: 38%;
    height: 120px;
    padding: 12px 0;
    background-color: white;
    border: 1px solid #c0c4c7;
    border-radius: 5px;
    margin-left: 6px;
}

.company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    padding: 20px 20px 20px 14px;
}

.company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    color: black;
    transition: .5s;
}
.company-feature .box-hotjob .swiper .swiper-slide .box__info-job:hover .left__info-job span.hot__job-name{
    color: $secondarycolor;
}
.company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job__company-name{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job-salary{
    font-size: 14px;
    font-weight: 600;
    color: #ff7d55;
}

.company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__location{
    font-size: 14px;
    font-weight: 600;
    color: #8d8d8c;
}

.company-feature .box-hotjob .swiper .swiper-button-next,
.company-feature .box-hotjob .swiper .swiper-button-prev {
    color: $secondarycolor;
}

.company-feature .box-hotjob .swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: $secondarycolor;
}
.container-home .home-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background:linear-gradient(to right,#fed20033,#100a0933), url('/img/subcrise-email.jpg') center / cover no-repeat;
}
.container-home .home-subscribe span.title-subscribe{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
}
.container-home .home-subscribe .box-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-home .home-subscribe .box-subscribe input{
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    width: 380px;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 13px;
    padding-top: 10px;
}
.container-home .home-subscribe .box-subscribe label.label-title{
    position: absolute;
    top: 50%;
    font-size: 16px;
    font-weight: 600;
    left: 2%;
    transform: translateY(-50%);
    color: black;
    transition: .3s;
}
.container-home .home-subscribe .box-subscribe input:focus ~ label.label-title,
.container-home .home-subscribe .box-subscribe input:valid ~ label.label-title{
    top: 20%;
    font-size: 12px;
    color: #8d8d8c;
}
.container-home .home-subscribe .box-subscribe label button{
    height: 50px;
    width: 170px;
    border: none;
    outline: none;
    background-color: $secondarycolor;
    border: 1px solid $secondarycolor;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .5s;
}
.container-home .home-subscribe .box-subscribe label button:hover{
    background-color: #048de6;
    border: 1px solid #048de6;
}
// full jobs
.container-home .home-jobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: $backgroundcolor;
    position: relative;
}
.container-home .home-jobs .title-jobs{
    font-size: 40px;
    font-weight: 600;
    color: $primarycolor;
}
.container-home .home-jobs .swiper {
    width: 80%;
    height: 80%;
  }
.container-home .home-jobs .swiper .swiper-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .container-home .home-jobs .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100% - 10px) / 5);
    border-radius: 5px;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #fff;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew:hover{
    background-color: #f6f6f6;
    border: 1px solid #d3d5d9;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .top-jobnew{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .top-jobnew img{
    width: 30%;
    height: 100%;
    background-color: transparent;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .top-jobnew .left-info__jobnew{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 8px;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .top-jobnew .left-info__jobnew .jobnew__name{
    font-size: 16px;
    font-weight: 600;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .top-jobnew .left-info__jobnew .jobnew__company{
    font-size: 12px;
    font-weight: 600;
    color: #6f7882;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .bottom-jobnew{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 6px 0;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .bottom-jobnew .jobnew__salary,
  .container-home .home-jobs .swiper-slide a.box-jobnew .bottom-jobnew .jobnew__location{
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(255,125,85,0.2);
    color: #ff7d55;
    border-radius: 5px;
    text-align: center;
    padding: 4px 6px;
  }
  .container-home .home-jobs .swiper-slide a.box-jobnew .bottom-jobnew .jobnew__location{
    color: #2666c0;
    background-color: rgba(38,102,192,0.2);
    margin-left: 8px;
  }
  .container-home .home-jobs .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .container-home .home-jobs .swiper-pagination-bullet-active {
    color: #fff;
    background: $secondarycolor;
  }
  .container-home .home-jobs .swiper-button-next,
  .container-home .home-jobs .swiper-button-prev{
    color: $secondarycolor;
  }
.container-home .home-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.container-home .home-personal .title-personal{
    font-size: 40px;
    font-weight: 600;
    color: $primarycolor;
    margin: 50px 0 30px 0;
}
.container-home .home-personal .list-personal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 50px;
}
.container-home .home-personal .list-personal .card-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 48%;
    height: 270px;
    background: linear-gradient(90deg,#c0c4c7 23.92%,#0072bc33);
    border-radius: 5px;
    border: 1px solid $backgroundcolor;
    transition: .5s;
}
.container-home .home-personal .list-personal .card-profile:hover{
    background: linear-gradient(90deg,$backgroundcolor 23.92%,#0072bc33);
    border: 1px solid $secondarycolor;
    box-shadow: 0 6px 18px $secondarycolor;
}
.container-home .home-personal .list-personal .card-profile .profile-left{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}
.container-home .home-personal .list-personal .card-profile .profile-left .title-profile{
    font-size: 20px;
    font-weight: 600;
    padding: 16px 12px 6px 16px;
    transition: .5s;
    height: 20%;
}
.container-home .home-personal .list-personal .card-profile:hover .profile-left .title-profile{
    color: $secondarycolor;
}
.container-home .home-personal .list-personal .card-profile .profile-left .content-profile__personal{
    font-size: 16px;
    font-weight: 400;
    padding: 6px 16px;
    text-align: justify;
    height: 60%;
}
.container-home .home-personal .list-personal .card-profile .profile-left .action-personal{
    margin: 6px 0 20px 16px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: $secondarycolor;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.container-home .home-personal .list-personal .card-profile .profile-right{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-home .home-personal .list-personal .card-profile .profile-right img{
    width: 100%;
    height: 80%;
}
.templates-cv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: $secondarycolor;
}

.templates-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    width: 40%;
    overflow: hidden;
    position: relative;
}

.templates-img img {
    height: 100%;
    width: 70%;
    transform: translateY(-100%);
    position: absolute;
    transition: 1s;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.4);
}

.templates-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: $primarycolor;
    -webkit-clip-path: polygon(100% 0%, 100% 47%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 100% 47%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #100a09;
    height: 100%;
}

.templates-text span {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 0 30px 0 145px;
    text-align: center;
    color: $primarycolor;
}

.templates-text__action {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: $primarycolor;
    // background-color: $primarycolor;
    padding: 10px;
    border: 2px solid  $primarycolor;
    margin-top: 30px;
    // box-shadow: 2px 2px 30px $primarycolor;
    transition: .5s;
}

.templates-text__action:hover {
    background-color:  $primarycolor;
    border: 2px solid  $primarycolor;
    color: black;
}

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $backgroundcolor;
    height: 500px;
    color: black;
}
.advantages .title-advantages{
    font-size: 40px;
    font-weight: 600;
}
.advantages .title-advantages b{
    color: $primarycolor;
    font-weight: 600;
}
.box-advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.advantage-before,
.advantage-after,
.advantage-center {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage-center{
    height: 90%;
    justify-content: center;
    align-items: center;
    background: url('/img/advantage.png') center / cover no-repeat;
    margin: 0 16px;
}
.advantage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid $secondarycolor;
    box-shadow: 0 5px 10px $secondarycolor;
    padding: 10px 14px;
}
.advantage .right-advantage{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: justify;
    width: 85%;
    height: 100%;
}
.advantage .left-avantage{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage i {
    font-size: 60px;
    color: $secondarycolor;
}

.advantage h3 {
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 0 30px;
    margin: 8px 0;
}

.advantage span {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 0 30px;
}

// .company-job {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100vh;
//     background: linear-gradient(to right, #0072bc33, #fed20033), url("/img/bgbody2.jpg") center / cover no-repeat;
//     position: relative;
// }

// .company-job .home-company,
// .company-job .home-job {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: 100%;
//     font-size: 72px;
//     font-weight: 700;
//     position: absolute;
//     top: 0;
//     cursor: pointer;
//     transition: .3s;
//     font-family: 'Bree Serif', serif;
//     text-decoration: none;
// }

// .company-job .home-company {
//     left: 0;
//     width: 100%;
//     clip-path: polygon(0 0, 30% 0, 70% 100%, 0% 100%);
// }

// .company-job .home-company span {
//     align-self: start;
//     text-align: center;
//     width: 50%;
//     text-decoration: none;
//     color: white;
//     text-transform: uppercase;
// }

// .company-job .home-job span {
//     align-self: end;
//     text-align: center;
//     width: 50%;
//     text-decoration: none;
//     color: black;
//     text-transform: uppercase;
// }

// .company-job .home-job {
//     right: 0;
//     width: 100%;
//     clip-path: polygon(100% 0, 100% 100%, 70% 100%, 30% 0);
// }

// .company-job .home-company:hover,
// .company-job .home-job:hover {
//     background-color: #100a09;
// }
// .company-job .home-job:hover span {
//     color: $primarycolor;
// }
// .company-job .home-company:hover span{
//     color: $secondarycolor;
// }
@media screen and (max-width: 1440px){
    .container-home .first-content .search-home .box-search__home .search-namecompany,
    .container-home .first-content .search-home .box-search__home .search-position,
    .container-home .first-content .search-home .box-search__home .search-categories,
    .container-home .first-content .search-home .action-search,
    .container-home .first-content .search-home .find-company .discover-company{
        height: 36px;
    }
    .container-home .first-content .toprecruiters{
        bottom: 1%;
    }
    .container-home .first-content .toprecruiters span.title-toprecruiters{
        font-size: 32px;
        margin: 8px 0;
    }
    .container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter{
        height: 146px;
    }
    .container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter .top__card-recruiter #content-top__recruiter{
        font-size: 14px;
        padding: 2px 8px;
    }
    .container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter .recruiter__jobcount{
        font-size: 14px;
    }
    .company-feature .box-hotjob{
        margin-bottom: 30px;
    }
    .company-feature .box-hotjob .swiper .swiper-slide{
        margin-right: 16px !important;
        height: calc((100% - 80px) / 2) !important;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job{
        margin: unset;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job-name{
        font-size: 16px;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job__company-name{
        font-size: 14px;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job-salary,
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__location{
        font-size: 12px;
    }
    .company-feature .box-hotjob .swiper .swiper-button-next,
    .company-feature .box-hotjob .swiper .swiper-button-prev{
        top: 44% !important;
    }
    .company-feature .box-hotjob .swiper .swiper-pagination{
        bottom: 20px;
    }
    .templates-text span{
        align-self: end;
    }
    .templates-text__action{
        transform: translateX(34%);
    }
    .container-home .home-personal .list-personal .card-profile{
        height: 235px;
    }
    .container-home .home-personal .list-personal .card-profile .profile-left .content-profile__personal{
        font-size: 15px;
    }
    .advantage-before, 
    .advantage-after{
        width: 33%;
    }
    .advantage i{
        font-size: 40px;
    }
    .advantage h3{
        font-size: 17px;
        padding: 0 20px;
        margin: 4px 0;
    }
    .advantage span{
        font-size: 14px;
        padding: 0 0 0 20px;
    }
}
@media screen and (max-width: 1024px){
    .container-home .first-content .toprecruiters{
        bottom: 38%;
    }
    .container-home .first-content .toprecruiters .list-toprecruiters .card-toprecruiter{
        height: 164px;
    }
    .advantages{
        height: 1000px;
    }
    .advantages .title-advantages{
        height: 10%;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
    .box-advantages{
        width: 80%;
        height: 90%;
        flex-direction: column;
    }
    .advantage-before,
    .advantage-after,
    .advantage-center{
        height: 26%;
        width: 100%;
    }
    .advantage-before {
        justify-content: end;
    }
    .advantage-after .advantage{
       margin:0 0 20px 0;
    }
    .advantage-before .advantage{
        margin: 20px 0 0 0;
    }
    .advantage-center{
        height: 48%;
        margin: 16px 0;
    }
}
@media screen and (max-width: 768px){
    .container-home .first-content .toprecruiters{
        bottom: 22%;
    }
    .company-feature .box-hotjob .swiper .swiper-slide{
        height: calc((100% - 30px) / 2) !important;
        margin-top: unset !important;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job{
        flex-direction: column;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job{
        width: 100%;
        padding: 20px 10px;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job-name {
        font-size: 14px;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job__company-name{
        font-size: 13px;
    }
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__job-salary, 
    .company-feature .box-hotjob .swiper .swiper-slide .box__info-job .left__info-job span.hot__location{
        font-size: 11px;
    }
    .templates-cv{
        height: 400px;
    }
    .templates-text span,
    .templates-text__action  {
        font-size: 22px;
    }
    .container-home .home-jobs .title-jobs{
        font-size: 28px;
    }
    .container-home .home-jobs .swiper-slide a.box-jobnew .bottom-jobnew .jobnew__salary, 
    .container-home .home-jobs .swiper-slide a.box-jobnew .bottom-jobnew .jobnew__location{
        font-size: 10px;
    }
    .container-home .home-subscribe span.title-subscribe{
        font-size: 24px;
        padding: 0 40px;
        text-align: center;
    }
    .container-home .home-personal .title-personal{
        font-size: 28px;
    }
    .container-home .home-personal .list-personal{
        flex-direction: column;
    }
    .container-home .home-personal .list-personal .card-profile{
        width: 100%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 600px){
    .container-home .first-content .toprecruiters{
        bottom: 5%;
    }
    .templates-cv{
        height: 350px;
    }
    .templates-text span{
        padding: 39px 30px 0 94px;
        font-size: 18px;
    }
    .templates-text__action{
        transform: translateX(26%);
        font-size: 18px;
    }
    .container-home .home-jobs .title-jobs {
        font-size: 22px;
    }
    .container-home .home-personal .title-personal {
        font-size: 22px;
    }
    .advantage-center {
        height: 35%;
    }
}