.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 650px;
    background: url("/img/bgcontent.jpeg") center / cover no-repeat;
}
.first-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
}
.first-content-left .left-primary-text{
    font-size: 50px;
    font-weight: 800;
}
.first-content-left .left-secondary-text{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 50px 10px 0;
}
.home-create-cv{
    width: 25%;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: $primarycolor;
    padding: 8px 10px;
    border: 2px solid $primarycolor;
    background-color: black;
    box-shadow: 2px 2px 30px black;
}
.home-create-cv:hover{
    background-color: rgba(0,0,0,0.8);
}
.first-content-right{
    padding: 10px;
    border: 4px solid black;
    
}
.first-content-right img{
    display: none;
    width: 300px;
    height: 400px;
    // animation-name: ShowImg;
    // animation-duration: 3s;
    // animation-iteration-count: infinite;
    // animation-fill-mode: backwards;
    // animation-timing-function: ease-in-out;
    // transition: 0.5s;
}
.first-content-right img:first-child{
    display: block;
}
.templates-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 500px;
    background-color: #303030;
    margin: 50px 0;
}
.templates-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 45%;
    overflow: hidden;
    position: relative;
}
.templates-img img{
    height: 400px;
    width: 80%;
    transform: translateY(-100%);
    position: absolute;
    transition: 1s;
}
.templates-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    color: $primarycolor;
}

.templates-text span{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.templates-text__action{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: black;
    background-color: $primarycolor;
    padding: 10px;
    border: 2px solid black;
    margin-top: 30px;
    box-shadow: 2px 2px 30px $primarycolor;
}
.templates-text__action:hover{
    opacity: 0.9;
}