header.jobdetail{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header.jobdetail img{
    width: 12%;
    height: 90%;
    margin: 0 20px 0 0;
}
header.jobdetail .center-jobdetail{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.center-jobdetail .primary-text{
    font-size: 27px;
    font-weight: 500;
}
.center-jobdetail .secondary-text{
    font-size: 14px;
    font-weight: 500;
    color: #FCCB0C;
}
.center-jobdetail .third-text{
    font-size: 14px;
    font-weight: 400;
}
.center-jobdetail .forth-text{
    font-size: 14px;
    font-weight: 500;
    color: #ff7d55;
}
.jobdetail-action{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.jobdetail-action button{
    outline: none;
    border: 1px solid $primarycolor;
    height: 50px;
    width: 160px;
    background-color: #FCCB0C;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}
.jobdetail-action button:hover{
    background-color: $primarycolor;
    text-shadow: 4px 4px 4px black;
}
.jobdetail-action a{
    text-decoration: none;
}
.jobdetail-action a{
    color: #FCCB0C;
}
.jobdetail-action a:hover{
    color: $primarycolor;
}
.body-jobdetail{
    width: 100%;
    min-height: 300px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-jobdetail{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    height: 50px;
    margin-left: 16px;
}
.main-jobdetail > *{
    margin-right: 16px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    z-index: 20;
    padding: 0 12px;
    transition: .3s;
}
.jobinfo{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid $primarycolor;

}
.main-jobdetail .jobinfo:hover,
.main-jobdetail .companyinfo:hover,
.main-jobdetail .jobsfromthiscompany:hover{
    color: $primarycolor;
}
.main-jobinfo,
.main-companyinfo,
.main-jobsfromthiscompany{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    background-color: white;
    min-height: 300px;
    margin-bottom: 50px;
    transform: translateY(-9px);
}
.main-jobinfo{
    display: flex;
}
.main-jobsfromthiscompany{
    min-height: 120px;
}
.main-jobinfo > *,
.main-companyinfo > *,
.main-jobsfromthiscompany > *{
    padding: 0 20px;
}
.main-jobsfromthiscompany ul {
    padding-top: 20px;
}
.desc-jobinfo,
.requirements-jobinfo,
.benefit-jobinfo{
    white-space: pre-wrap;
}
.location-jobinfo{
    padding-bottom: 20px;
}
.desc-jobinfo p,
.requirements-jobinfo p,
.benefit-jobinfo p,
.location-jobinfo p{
    margin: unset;
}
.jobinfo-main-text{
    font-size: 20px;
    font-weight: 700;
}
.main-companyinfo .company-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.company-detail span{
    padding-bottom: 8px;
}
a.jftc-namejobs{
    font-size: 20px !important;
    font-weight: 600 !important;
    color: rgb(85,85,85) ;
    text-decoration: none;
    z-index: 5;
}
a.jftc-namejobs:hover{
    color: #04B4F4;
}
.jftc-salary{
    font-weight: 500;
    color:#ff7d55
}
.overplay-jobdetail{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    cursor: pointer;
}
.box-apply-job{
    width: 60%;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    margin-right: auto;
    margin-left: auto;
    z-index: 31;
    transition: .3s;
}
.box-apply-job > * {
    padding: 0 40px;
}
.box-apply-job header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10%;
}
.box-apply-job header span{
    font-size: 18px;
    word-spacing: 1.3px;
    color: #666666;
}
.box-apply-job header span b{
    font-size: 20px;
    font-weight: 600;
}
.box-apply-job header p{
    margin: unset;
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 400;
}
.box-apply-job header p b{
    color: #666666;
}
.box-apply-job .nav-apply-job{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 22%;
    width: 100%;
    border-top: 1px solid $primarycolor;
    border-bottom: 1px solid $primarycolor;
    background-color: rgba(254, 219, 0,0.1);
}
.nav-apply-job img{
    width: 80px;
    height: 80px;
    margin: 0 40px 0 30px;
    border-radius: 50%;
    border: 2px solid $primarycolor;
}
.nav-apply-job .apply-job-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.apply-job-info span{
    font-size: 16px;
    font-weight: 400;
    color: #717172;
}
.apply-job-info input{
    outline: none;
    border: none;
    border-bottom: 1px dashed $primarycolor;
    width: 60%;
    cursor: pointer;
    height: 40px;
    background-color: transparent;
}
.apply-job-info input:focus {
    border: 1px solid black;
    outline: black;
    border-radius: 10px;
    height: 40px;
    padding: 2px 8px;
}
.body-apply-job{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
}
.main-apply-job{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}
.main-apply-job > * {
    margin: 0 16px 0 0;
}
.main-apply-job label{
    font-weight: 600;
    width: 20%;
}
.main-apply-job input{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding: 4px 8px;
}
input#email-apply{
    outline: none;
    border: none;
    color: #717172;
}
.main-apply-job input[type="file"]{
    display: none;
}
.main-apply-job .resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    font-weight: 400;
    color: #717172;
    cursor: pointer;
    padding-top: 40px;
}
.main-apply-job .resume span i{
    font-size: 20px;
}
.apply-job-action{
    height: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.apply-job-action > * {
    margin: 0 10px;
    transition: .5s;
}
.submit-apply{
    border: 1px solid $primarycolor;
    width: 140px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: $primarycolor;
    border-radius: 10px;
}
.submit-apply:hover,
.cancle-apply:hover{
    background-color: white;
}
.cancle-apply{
    border: 1px solid #FC0404;
    background-color: #FC0404;
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}
header.job-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #F7F7F7;
}
.header-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #F7F7F7;
    z-index: 20;
}
.header-search .navbar-left{
    width: 22%;
    padding-left: 40px;
    position: relative;
}
.header-search .navbar-left .navbar-left__primary a.navbar-left-name{
    color: #0E0E23;
}
.header-search .navbar-left a.litle-text {
    color: $primarycolor;
    font-weight: 600;
    position: absolute;
    left: 25%;
    bottom: 12px;
}
.header-search .input-search{
    width: 50%;
    position: relative;
    text-align: center;
}
.header-search .input-search input{
    width: 700px;
    height: 48px;
    border: none;
    outline: none;
    background-color: white;
    padding: 4px 4px 4px 56px;
    border-radius: 5px;
    color: rgb(51,51,51);
    font-size: 14px;
    font-weight: 500;
}
.header-search .input-search label{
    position: absolute;
    left: 6%;
    top: 10px;
    font-size: 20px;
}
.header-search .input-search button{
    outline: none;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 138px;
    font-size: 20px;
    color: white;
    background-color: rgba(254,219,0,0.8);
}
.header-search .input-search button:hover{
    background-color: $primarycolor;
}
.header-search .header-search__login{
    width: 20%;
}
.header-search .header-search__login .search-login{
    display: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    border: 1px solid rgb(204,204,204);
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.header-search .header-search__login .search-login:hover{
    border: 1px solid #04B4F4;
}
.header-search__login .search-login .icon-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: #F5F5F5;
    color: #B6B6B6;
    font-size: 30px;
}
.header-search__login .search-login .sign-in{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primarycolor;
    font-size: 18px;
}
header.job-search .best-companyFL {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 110px;
    text-decoration: none;
    color: #04B4F4;
    z-index: 12;
    position: relative;
    cursor: pointer;
    transition: .5s;
  }
  header.job-search .best-companyFL span{
    z-index: 13;
  }
  header.job-search .best-companyFL .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    z-index: 10;
  }
  .best-companyFL .info-bestfl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .best-companyFL .info-bestfl span{
    font-size: 40px;
    font-weight: 700;
  }
  .best-companyFL .info-bestfl .best-fl-name {
    font-size: 26px;
    font-weight: 600;
    text-shadow:  2px 2px 10px black;
    text-align: center;
    width: 724px;
    padding: 0 8px;
  }
  .best-companyFL .apply-bestfl{
    width: 160px;
    height: 70px;
    z-index: 15;
    margin-left: 50px;
    transition: .5s;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.9, 0.7, 0.5, 0.9);
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
  }
  .best-companyFL .close-best-fl{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
  .best-companyFL .close-best-fl:hover{
    color: #FC0404;
  }
.container-jobs{
    background-color: #F7F7F7;
}
.container-jobs h1.jobs-matched {
    font-size: 40px;
    font-weight: 600;
    margin: unset;
    text-align: center;
    padding: 25px 0;
}
.container-jobs p {
    margin: unset;
    text-align: center;
}
.main-jobs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-jobs .card-jobs{
    display: flex;
    flex-direction: column;
    width: 67%;
    margin-bottom: 50px;
}
.main-jobs .card-jobs .card-job{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 220px;
    border: 1px solid $primarycolor;
    margin: 20px 0;
    align-self: flex-end;
    background-color: rgba(254,219,0,0.1);
    border-radius: 5px;
}
.card-job__action{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-job__action p{
    font-size: 18px;
    margin: unset;
    width: 100%;
    color: #F99C05;
}
.card-job .avatar-company{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.card-job .avatar-company img{
    width: 90%;
    border-radius: 5px;
    height: 180px;
}
.card-job .card-job__info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-job .card-job__info p,
.card-job .card-job__info a {
    text-align: unset;
    font-size: 16px;
    color: #BCBCBC;
    text-decoration: none;
    text-transform: capitalize;
}
.card-job .card-job__info a.job-name{
    font-size: 20px;
    color:#454646 ;
    font-weight: 600;
}
.card-job .card-job__info a.job__company-name{
    color: #696b6d;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 4px;
}
.card-job .card-job__info p.job-desc{
    -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  white-space: pre-wrap;
}
.card-job .card-job__info p.job-location{
    padding: 4px 0;
}
.card-job .card-job__info a.job-name:hover{
    color: #04B4F4;
}
.card-job .card-job__info a.job__company-name:hover{
    color: #04B4F4;
}
.pagination{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: unset;
    width: 90%;
    align-self: flex-end;
}
.pagination a{
    margin: 0 8px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DEE2E6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.pagination a:hover{
    border: 1px solid #ddcf76;
    background-color: $primarycolor;
    color: white;
}
.pagination a.active{
    border: 1px solid #ddcf76;
    cursor: not-allowed;
    background-color: $primarycolor;
    color: white;
}
.jobs-ads{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
}
.jobs-ads > * {
    margin: 20px 0;
}
.jobs-ads .ads-TPcompany,
.jobs-ads .ads-NYcompany,
.jobs-ads .ads-LRcompany,
.jobs-ads .best-job{
    width: 403px;
    height: 483px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
}
.jobs-ads .best-job,
.best-job a.best-job__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 403px;
    text-decoration: none;
    color: black;
}
.jobs-ads .best-job span.primary-text{
    font-size: 18px;
    font-weight: 500;
    padding: 12px 0;
}
.jobs-ads .best-job .best-job__background{
    width: 403px;
    height: 200px;
}
.jobs-ads .best-job .best-job__avatar{
    width: 120px;
    height: 90px;
    transform: translateY(-60%);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #838080;
}
.best-job .main__best-job{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-50%);
}
.best-job .main__best-job .best-job__company-name{
    font-size: 20px;
    font-weight: 600;
    padding-top: 4px;
    text-align: center;
}
.best-job .main__best-job .best-job__count {
    font-size: 18px;
    font-weight: 600;
    color: #04B4F4;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 8px ;
}
.best-job .main__best-job .best-job__count:hover{
    text-decoration: underline;
}
.ads-TPcompany img,
.ads-NYcompany img,
.ads-LRcompany img{
    width: 403px;
    height: 483px;
}