.container-salary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.salary-calculator {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.salary-calculator h3 {
    text-align: center;
    color: #333;
}

.salary-calculator label,
.salary-calculator button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.salary-calculator input {
    width: 100%;
    padding: 5px;
}

.salary-calculator button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.salary-calculator button:hover {
    background-color: #0056b3;
}
