.main-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 620px;
    position: relative;
}
.modal-content__error {
    position: fixed;
    top: 20%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47,45,45);
    color: 	rgb(255,51,51);
    padding: 12px 12px 12px 24px;
    z-index: 20;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    transform: translateX(200%);
    transition: .5s;
  }
  .modal-content__error::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255,51,51);
  }
  .modal-content__error p{
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content__error p i{
    margin-right: 8px;
    font-size: 24px;
  }
.payment-fixed{
    position: fixed;
    right: -160px;
    top: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 220px;
    height: 60px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 30;
    font-size: 18px;
    font-weight: 600;
    color: $btncolor;
    padding: 6px 12px 6px 20px;
    cursor: pointer;
    transition: all .5s;
    transform: translateY(-50%);
	animation: shadow-drop-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite forwards;
}
.payment-fixed .history-icon{
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.payment-fixed:hover{
    right: 0;
}
.payment-fixed:hover .history-icon{
    animation: rotate-center 3s ease-in-out infinite backwards;
}
.payment-history{
    position: fixed;
    bottom: 0;
    right: -200%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all .2s;
    cursor: pointer;
}
.payment-history .box-history{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 92%;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: default;
    padding: 30px 20px;
}
.payment-history .box-history img.not-history{
    width: 100%;
    height: 40%;
    margin-top: 20px;
}
.payment-history .box-history h1.not-history{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.payment-history .box-history p.not-history{
    width: 100%;
    color: #8f8e8e;
    text-align: center;
    font-weight: 600;
}
.payment-history .close-payment__history{
    position: absolute;
    top: 0;
    right: 20px;
    color: #bc2627;
    cursor: pointer;
}
.payment-history .close-payment__history:hover{
    color: #FC0404;
}
.payment-history .close-payment__history span{
    font-size: 40px;
}
.payment-history .box-history h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}
.payment-history .box-history .main__info-history{
    overflow-y: scroll;
    width: 100%;
}
.payment-history .box-history .main__info-history::-webkit-scrollbar {
    display: none;
  }
.payment-history .box-history .container__info-history{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.payment-history .box-history header,
.payment-history .box-history .container__info-history .body-history{
    background-color: $backgroundcard;
    color: $tablecolor;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 12px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.payment-history .box-history .container__info-history .body-history{
    background-color: white;
    padding: 20px 12px;
    border-bottom: 1px solid $backgroundcard;
}
.payment-history .box-history header span,
.payment-history .box-history .container__info-history .body-history span{
    width: 28%;
    font-weight: 600;
    color: $thirdcolor;
    padding: 0 12px 0 6px;
}
.payment-history .box-history .container__info-history .body-history span p{
    margin: unset;
    color: #aeb1bc;
    font-weight: 400;
    font-size: 14px;
}
.payment-history .box-history header span.jobname__history,
.payment-history .box-history .container__info-history .body-history span.jobname__history{
    width: 42%;
}
.payment-history .box-history .container__info-history .body-history span.jobname__history{
    text-transform: capitalize;
}
.payment-history .box-history header span.type,
.payment-history .box-history header span.amount,
.payment-history .box-history header span.time,
.payment-history .box-history .container__info-history .body-history span.type,
.payment-history .box-history .container__info-history .body-history span.amount,
.payment-history .box-history .container__info-history .body-history span.time{
    width: 10%;
    text-align: center;
}
.payment-history .box-history .container__info-history .body-history span.amount{
    color: $btncolor;
}
.payment-history .box-history .container__info-history .body-history span.type.post{
    color: $salaryColor;
    text-transform: capitalize;
}
.payment-history .box-history .container__info-history .body-history span.type.refund{
    color: #FCAC34;
    text-transform: capitalize;
}
.payment-history .box-history .container__info-history .body-history span.type.prioritize{
    color: #033D98;
    text-transform: capitalize;
}
.alert-message{
    padding: 20px 70px 20px 22px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f6a7a3;
    position: relative;
    display: flex;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    transition: .5s;
}
.alert-success{
    background-color: #a8f1c6;
}
.alert-message p{
    margin-bottom: unset;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.alert-message .hide-message,
.alert-success .hide-message{
    position: absolute;
    top: -2px;
    right: 4px;
    color: black;
    font-size: 24px;
    cursor: pointer;
}
.alert-message .hide-message:hover{
    color: #FC0404;
}
.alert-success .hide-message:hover{
    color: #04FC44;
}
.alert-message::before,
.alert-success::before{
    position: absolute;
    content: '';
    width: 6px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #FC0404;
}
.alert-success::before{
    background-color: #04FC44;
}
.guide-ads__companyprofile{
    position: fixed;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,90,0,0.4);
    z-index: 20;
    transform: translateY(-500%);
    transition: transform .5s;
    background: linear-gradient(87deg, rgba(255,90,0,0.4) 44%, rgba(255,0,0,0.4));
}
.guide-ads__companyprofile::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: rgb(255,90,0);
    background: linear-gradient(-180deg, rgba(255,90,0,1) 44%, rgba(255,0,0,1) 100%);
}
.guide-ads__companyprofile h4{
    color: white;
    font-weight: 700;
    padding: 12px 12px 12px 30px;
    text-transform: capitalize;
    margin: unset;
}
.form-company-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 450px;
    background:linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('/img/headerprofile.jpeg') center/cover no-repeat;
    position: relative;
}
label.changebackground-profile{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: .3s;
}
label.changebackground-profile:hover{
    background-color: $btncolor;
    color: white;
}
.header-profile-company{
    height: 450px;
}
.header-main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 240px;
    width: 580px;
    // background-color: rgba(0,0,0,0.3);
    // background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.3));
    // backdrop-filter: blur(5px);
    margin-bottom: 20px;
    color: white;
}
.header-profile-primary{
    font-size: 40px;
    font-weight: 700;
    padding-left: 12px;
    min-height: 25%;
}
.header-profile-secondary{
    font-size: 30px;
    font-weight: 500;
    padding: 12px;
    max-height: 65%;
}
button.btn-setting {
    appearance: button;
    background-color: $secondarycolor;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 14%;
    margin-left: 12px;
   }
   
   button.btn-setting:after {
    background-clip: padding-box;
    background-color: $btncolor;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button.btn-setting:main, button.btn-setting:focus {
    user-select: auto;
   }
   
   button.btn-setting:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button.btn-setting:disabled {
    cursor: auto;
   }
   
   button.btn-setting:active:after {
    border-width: 0 0 0px;
   }
   
   button.btn-setting:active {
    padding-bottom: 10px;
   }
.content-profile,
.company-profile{
    width: 85%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.5);
    transform: translateY(-12%);
    z-index: 10;
    display: block;
    transition: 1s;
}
.company-profile{
    transform: translateY(-6%);
}
.content-profile__admin{
    transform: translateY(-30%) !important;
}
.content-profile-main > * {
    margin: 14px 0;
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.profile-img .user-avatar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #8f8d8d;
    transform: translateY(-40%);
    position: relative;
    cursor: pointer;
    background-color: white;
}
.edit-img{
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(0,0,0,0.3);
    height: 172px;
    width: 172px;
    border-radius: 50%;
    cursor: pointer;
    top: -68px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}
.camera-edit{
    position: absolute;
    font-size: 30px;
    right: 43.5%;
    top: 1.8%;
    color: black;
    padding: 0 8px;
    border-radius: 50%;
    background-color:  rgba(255,255,255,0.5);
    cursor: pointer;
    border: 1px dashed black;
    transition: .3s;
}
.camera-user-edit{
    top: 4.5%;
}
.camera-user-company{
    top: 8.5%;
}
.camera-edit:hover{
    background-color:#8f8d8d;
    color: white;
    border: unset;
}
.edit-img span{
    transform: translateY(-220%);
}
.content-profile-header{
    width: 100%;
    height: 5%;
}
.content-profile-header span,
.content-profile-main span{
    font-size: 24px;
    font-weight: 700;
    padding: 0 24px;
}
.content-profile-header span{
    font-size: 30px
}
.content-profile-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.profile-info-user,
.about-me-profile,
.about-company-profile,
.listjobs,
.listleadership{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about-company-profile{
    margin-bottom: 40px;
}
.about-company-profile > *,
.listjobs,
.listleadership {
    margin: 8px 0 0 0;
}
// .listjobs{
//     height: 2000px;
// }
.underline-profile{
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.underline-profile .underline{
    width: 95%;
    height: 1px;
    background-color: #bdc0c0;
}
.profile-user,
.about-user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 100px;
}
.profile-user label,
.contact-user label,
.contact-user-address label,
.about-user label{
    font-size: 20px;
    font-weight: 500;
}
.profile-user input,
.contact-user input,
.contact-user-address input,
.about-user input,
.about-user select,
.about-user textarea{
    width: 100%;
    height: 45%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 0 8px;
    resize: none;
}
.about-user textarea{
    height: 130px;
    padding: 8px 12px 0 12px;
}
#file-user{
    display: none;
}
.contact-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-user-address{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100px;
}
.contact-user-address input{
    width: 100%;
}
.contact-user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(95% / 4);
    height: 100px;
}
.contact-user input{
    width: 90%;
}
.experience{
    width: 95%;
}
.experience input{
    width: 100%;
}
.profile-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-bottom: 20px;
}
.btn-save{
    width: 10%;
    height: 50px;
    border: none;
    outline: none;
    background-color: $btncolor;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    transition: all .3s;
}
.btn-save:hover{
    background-color: $secondarycolor;
    color: white;
    box-shadow: 1px 1px 50px #0095ff33;
}
#email-profile,
#username-profile{
    color: #8f8d8d;
    cursor: not-allowed;
}
.about-user-desc-company{
    width: 95%;
    height: 180px;
}
input#postal::-webkit-outer-spin-button,
input#postal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.listjobs-action,
.listleadership-action {
    width: 95%;
}
.listjobs-action button,
.listleadership-action button{
    padding: 8px 12px;
    font-weight: 600;
    outline: none;
    border: 2px solid $btncolor;
    color: $btncolor;
    border-radius: 5px;
    background-color: transparent;
    transition: all .3s;
}
.listjobs-action button:hover,
.listleadership-action button:hover{
    background-color: $btncolor;
    color: white;
}
.overplay-postjob,
.overplay-postleadership,
.overplay-review{
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.95);
    display: none;
    z-index: 30;
    transform: translatey(-12%);
    cursor: pointer;
    margin: unset !important;
}
.overplay-review{
    transform: translatey(-12%) translateX(-12%);
    width: 200%;
    height: 137%;
}
#postjob,
#postleadership{
    display: none;
    flex-direction: column;
    width: 70%;
    max-height: 90vh;
    position: fixed;
    z-index: 31;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;
    padding-bottom: 20px;
}
#postjob header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 12px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
#postleadership h2{
    text-align: center;
    color: $btncolor;
    padding: 20px 0 12px 0;
    margin-bottom: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
#postjob header .postjob-cancle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: unset;
} 
#postjob header .postjob-cancle h2{
    font-weight: 600;
    text-transform: uppercase;
    color: $btncolor;
    margin: unset;
    text-align: center;
}
#updateleadership{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 30;
    width: 30%;
    height: 100vh;
    top: 49%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: $backgroundcard;
    z-index: 50;
    overflow: hidden;
  }
  
  .img-avatar{
    width: 100%;
    height: 150px;
    background-color: $btncolor;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
  }
  .img-avatar img#avatar-leader{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: 3px solid $btncolor;
    border: 3px solid white;
    outline-offset: 0px;
    transform: translateY(40%);
  }
  .img-avatar span.close__card-leadership{
    position: absolute;
    top: -8px;
    right: 0;
    color: black;
    font-size: 30px;
    padding: unset;
    transition: .3s;
  }
  .img-avatar span.close__card-leadership:hover i{
    color: #FC0404;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 20px 20px;
  }
  .text .h3 {
    font-size: 20px;
    font-weight: 600;
    color: black;
  }
  .text .p {
    color: #999999;
    font-size: 13px;
    padding: 12px 20px;
    text-align: justify;
  }
  .text .span{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: $primarycolor;
  }
  .text p{
    margin-bottom: unset !important;
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  }
.info-job{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 0;
    padding: 0 20px;
}
.info-job label{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.info-job input,
.info-job textarea,
.job-location select,
.job-level select,
.employe-type select{
    outline: none;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    resize: none;
    padding: 4px 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 8px 0;
}
.info-job textarea{
    height: 120px;
}
.info-job-salary{
    flex-direction: row;
    justify-content: space-between;
}
.info-job-salary .job-location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: 100%;
}
.job-salary,
.job-position,
.job-level,
.job-experience,
.employe-type{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: 100%;
}
#salary-range{
    width: 100%;
}
.postleader-cancle{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
}
.postleader-cancle > *{
    margin-left: 12px;
}
.btn-postjob,
.btn-update-leadership,
.btn-postjob-cancle,
.btn-postleader-cancle,
.btn-updateleader-cancle{
    outline: none;
    border: 1px solid $btncolor;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: 600;
    color: $btncolor;
    background-color: transparent;
    border-radius: 5px;
}
.btn-postjob-cancle,
.btn-postleader-cancle,
.btn-updateleader-cancle{
    border: 1px solid #FC0404;
    color: #FC0404;
}
.btn-postjob-cancle:hover,
.btn-postleader-cancle:hover,
.btn-updateleader-cancle:hover{
    background-color: #FC0404;
    color: white;
}
.btn-postleader,
.btn-update-leadership{
    width: 180px;
}
.btn-postjob:hover,
.btn-update-leadership:hover{
    background-color: $btncolor;
    color: white;
}
.listjobs ul,
.listleadership ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    padding: unset;
    margin-top: 20px;
}
li.content-listjob,
li.content-listleadership{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 12px;
    cursor: pointer;
    list-style-type: none;
    font-size: 20px;
    text-transform: capitalize;
}
li.content-listjob{
    position: relative;
}
li.content-listjob a.payment{
    position: absolute;
    color: black;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li.content-listjob a.payment::after{
    position: absolute;
    content: "advertise this job";
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    padding: 4px 8px;
    font-size: 16px;
    width: 160px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: -80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
li.content-listjob a.payment:hover::after{
    display: flex;
}
li.content-listjob .remove-blocked{
    position: absolute;
    top: 12%;
    left: -7%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    z-index: 19;
}
.remove-blocked .request-sending{
    position: absolute;
    top: 102%;
    left: -100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.remove-blocked .request-sending .request-ads{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 6px 0;
}
.remove-blocked .request-sending .request-ads label{
    margin-right: 6px;
    font-size: 16px;
    cursor: pointer;
}
.remove-blocked .request-sending .submit-request{
    background-color: $btncolor;
    color: white;
    border-radius: 5px;
    border: 1px solid $btncolor;
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
}
li.content-listjob .cv-applied{
    font-size: 14px;
    font-weight: 600;
    border: 1px solid $secondarycolor;
    background-color: white;
    color: $secondarycolor;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin-top: 6px;
    margin-left: 24px;
    text-align: center;
    transition: .5s;
    padding: 6px;
}
li.content-listjob .cv-applied i {
    margin: 0 6px;
}
li.content-listjob .cv-applied:hover{
    background-color: $secondarycolor;
    color: white;
}
li.content-listjob .remove-blocked span{
    font-size: 20px;
    margin: 6px 0;
}
li.content-listjob a.payment:hover{
    color: $primarycolor;
}
.active__blocked-item{
    opacity: 0.5;
    position: relative;
    cursor: not-allowed;
    border: 2px solid #a0a0a0 !important;
    border-radius: 5px;
}
.active__blocked-item:before {
    content: "\1F512";
    position: absolute;
    font-size: 24px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
li.content-listleadership{
    flex-direction: row;
    align-items: center;
}
.company-profile li.content-listjob .namejobs{
    display: flex;
}
li.content-listjob .namejobs a{
    text-decoration: none;
    color: black;
    padding-right: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
li.content-listjob:hover .namejobs a{
    color: $btncolor;
}
li.content-listleadership img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    outline: 2px solid black;
    outline-offset: 2px;
}
.infoleadership{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.infoleadership .nameleadership{
    font-size: 20px;
    font-weight: 700;
    padding: 0 12px;
}
.infoleadership .position{
    color: #b9c2c4;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 0 12px;
}
.action-leader{
    position: relative;
    right: 0;
}
.show-action{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 120px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 0px 7px 29px 0px;
    position: absolute;
    transform:translateX(-50%) ;
    z-index: 4;
}
span.update-leader{
    font-size: 18px;
}
span.update-leader:hover{
    color: #26B7ED;
}
.show-action a{
    text-decoration: none;
    color: black;
}
.show-action a:hover{
    color: #FC0404;
}
.namejobs{
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 0 0 0 2px !important;
}
.namejobs i{
    visibility: hidden;
}
li.content-listjob:hover i.bi-three-dots-vertical{
    visibility: unset;
    color: black;
}
.secondary-listjob{
    display: flex;
    flex-direction: row;
    padding-left: 24px;
}
.secondary-listjob p{
    margin: unset !important;
}
span.timejobs,
span.locationjobs{
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
    margin-right: 8px;
    color: white;
    background-color: $secondarycolor;
    border-radius: 5px;
}
span.locationjobs{
    background-color: $locationColor;
}
ul.listpagejob,
ul.listpageleadership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px !important;
    padding: unset !important;
  }
  ul.listpagejob li,
  ul.listpageleadership li {
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
    border: 1px solid #DEE2E6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    margin: 4px 8px;
    cursor: pointer;
    box-sizing: unset;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul.listpagejob li:hover {
    border: 1px solid $secondarycolor;
    background-color: $btncolor;
    color: white;
  }
  ul.listpagejob .active,
  ul.listpageleadership .active {
    border: 1px solid $secondarycolor;
    cursor: not-allowed;
    background-color: $btncolor;
    color: white;
  }
  .avatar-leadership{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .avatar-leadership img{
    outline-offset: 4px;
    outline: 2px solid $btncolor;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  .leadership-avatar{
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
  .leadership-avatar::after{
    position: absolute;
    content: "Change Avatar";
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 149, 255,0.8);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 120px;
    height: 60px;
    bottom: 0;
    left: 50%;
    font-size: 14px;
    transform: translateX(-50%);
    transition: opacity .3s ease-in-out;
  }
    .leadership-avatar:hover:after{
    opacity: 1;
  }
  .avatar-leadership input{
    display: none;
  }
  .eidt__avatar-leadership{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: none;
    z-index: 30;
  }
.leadership-action-view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.leadership-action-view button{
    width: 120px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 2px solid $btncolor;
    background-color: transparent;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    text-align: center;
    color: $btncolor;
}
.leadership-action-view #view-more-btn:hover{
    background-color: $btncolor;
    color: white;
}
.leadership-action-view #view-less-btn{
    border: 2px solid #FC0404;
    color: #FC0404;
    visibility: hidden;
    cursor: default;
}
.leadership-action-view #view-less-btn:hover {
    background-color: #FC0404;
    color: white;
}
// check payment
.container-checkpayment{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 100vh;
}
.container-checkpayment .box__dates-payment{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
    box-shadow: 0 5px 15px $secondarycolor;
    margin-top: 50px;
}
.container-checkpayment .box__dates-payment .primary-text{
    font-size: 30px;
    font-weight: 600;
    padding: 12px 12px 12px 20px;
    width: 100%;
}
.container-checkpayment .box__dates-payment .title-payment{
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    width: 100%;
}
.container-checkpayment .box__dates-payment .card-payment{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
}
.container-checkpayment .box__dates-payment .card-payment input{
    width: 18px;
    height: 18px;
    margin: 0 8px 0 20px;
}
.container-checkpayment .box__dates-payment .card-payment label{
    font-size: 18px;
}
.container-checkpayment .box__dates-payment .accept-payment{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 22px;
    margin: 12px 0;
    min-height: 50px;
}
.container-checkpayment .box__dates-payment .accept-payment span.content{
    font-size: 16px;
    font-weight: 400;
    color: #b1b1b1;
    width: 100%;
    text-align: justify;
    padding-right: 70px;
    margin-top: 8px;
    display: none;
}
.container-checkpayment .box__dates-payment .accept-payment input{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.container-checkpayment .box__dates-payment .accept-payment label {
    font-size: 18px;
}
.container-checkpayment .box__dates-payment button{
    align-self: center;
    margin: 12px 0;
    outline: none;
    border: 1px solid $secondarycolor;
    color: $secondarycolor;
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
}
.container-checkpayment .box__dates-payment button:hover{
    background-color: $secondarycolor;
    color: white;
}
// payment success
.container__success-payment{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    width: 100%;
    background-color: $backgroundcolor;
}
.container__success-payment .main__success-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 10px 20px $secondarycolor;
    margin-top: 20px;
}
.container__success-payment .main__success-payment .navbar-left{
    margin: 12px 0;
}
.container__success-payment .main__success-payment .navbar-left .litle-text{
    width: 170px;
    left: 63%;
    bottom: -3px;
}
.container__success-payment .main__success-payment .body__success-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success img{
    width: 40%;
    height: 140px;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success .welcome b{
    color: $secondarycolor;
    margin-top: 6px;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success h1{
    color: $secondarycolor;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success .total{
    color: #ff7d55;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success .time-payment{
    color: #bdc0c0;
    font-size: 14px;
}
.container__success-payment .main__success-payment .body__success-payment section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-left: 30px;
}
.container__success-payment .main__success-payment .body__success-payment .bottom{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}
.container__success-payment .main__success-payment .action-confirm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.container__success-payment .main__success-payment .action-confirm a{
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: $secondarycolor;
    border: 1px solid $secondarycolor;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.container__success-payment .main__success-payment .confirm-payment{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}
.container__success-payment .main__success-payment .confirm-payment input{
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.container__success-payment .main__success-payment .confirm-payment label{
    font-size: 16px;
}
.container__success-payment .main__success-payment .action-confirm a:hover{
    background-color: $secondarycolor;
    color: white;
}
// cancel payment
.container__cancel-payment{
    background-color: $backgroundcolor;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.container__cancel-payment .main__cancel-payment{
    background-color: white;
    box-shadow: 0 10px 20px #bc2627;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 30px;
}
.container__cancel-payment .main__cancel-payment .navbar-left{
    margin: 12px 0 12px 30px;
    width: 100%;
}
.container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
    width: 170px;
    left: 12.5%;
    bottom: -3px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 30px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment img{
    width: 50%;
    height: 200px;
    filter: drop-shadow(0 3px 6px #bc2627);
    margin-bottom: 12px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment h1{
    color: #bc2627;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment p b{
    color: #bc2627;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment p b.sorry{
    font-weight: 700;
    color: black;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .option{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 12px 0;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment input{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment label{
    font-size: 16px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a{
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #bc2627;
    border: 1px solid #bc2627;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a:hover{
    background-color: #bc2627;
    color: white;
}
@media screen and (max-width: 1440px) {
    .camera-edit{
        right: 41.5%;
    }
    .camera-user-edit{
        right: 41.5%;
    }
    .camera-user-company{
        top: 8.5%;
    }
}
@media screen and (max-width: 1024px) {
    button.btn-setting{
        width: 16%;
    }
    .content-profile, 
    .company-profile{
        width: 85%;
    }
    .camera-edit {
        right: 40%;
        top: 2%;
    }
    .camera-user-edit{
        right: 39%;
        top: 3.5%;
    }
    .camera-user-company{
        top: 8.5%;
    }
    .alert-message p{
        font-size: 18px;
    }
    .container-checkpayment .box__dates-payment{
        width: 50%;
    }
    .container__success-payment .main__success-payment,
    .container__cancel-payment .main__cancel-payment{
        width: 60%;
    }
    .container__success-payment .main__success-payment .navbar-left .litle-text{
        left: 53%;
    }
    .container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
        left: 10.5%;
    }
    #postjob, #postleadership{
        width: 90%;
    }
    #updateleadership{
        width: 60%;
    }
    li.content-listjob .remove-blocked{
        left: -10%;
    }
    .remove-blocked .request-sending{
        left: 0;
    }
    .payment-history .box-history{
        overflow: scroll;
        align-items: start;
    }
    .payment-history .box-history header,
    .payment-history .box-history .main__info-history,
    .payment-history .box-history .container__info-history .body-history{
        width: 1943px;
    }
}
@media screen and (max-width: 768px) {
    button.btn-setting {
        width: 22%;
    }
    .content-profile, 
    .company-profile{
        width: 90%;
    }
    .btn-save{
        width: 20%;
    }
    .camera-edit{
        right: 38.5%;
    }
    .camera-user-edit{
        top: 4%;
        right: 38%;
    }
    .camera-user-company{
        top: 9.5%;
    }
    li.content-listjob .remove-blocked{
        padding: unset;
        left: -8%;
    }
    .alert-message{
        padding-right: 50px;
    }
    .alert-message p{
        font-size: 14px;
    }
    .alert-message .hide-message{
        font-size: 20px;
    }
    .container-checkpayment .box__dates-payment{
        width: 60%;
    }
    .container__success-payment .main__success-payment,
    .container__cancel-payment .main__cancel-payment{
        width: 70%;
    }
    .container__success-payment .main__success-payment .navbar-left .litle-text{
        left: 61%;
    }
    .container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
        left: 12.2%;
    }
    #updateleadership{
        width: 65%;
    }
}
@media screen and (max-width: 600px) {
    button.btn-setting {
        width: 28%;
    }
    .btn-save {
        width: 26%;
    }
    .camera-edit{
        right: 34.5%;
    }
    .camera-user-edit{
        right: 35%;
    }
    .camera-user-company{
        top: 9.5%;
    }
    .container-checkpayment .box__dates-payment,
    .container__success-payment .main__success-payment,
    .container__cancel-payment .main__cancel-payment{
        width: 80%;
    }
    .container__success-payment .main__success-payment .navbar-left .litle-text{
        left: 69%;
    }
    .container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
        left: 14%;
    }
    .info-job label{
        font-size: 16px;
    }
    .info-job input, 
    .info-job textarea, 
    .job-location select,
    .job-level select,
    .employe-type select{
        font-size: 12px;
    }
    #updateleadership{
        width: 80%;
    }
}
@media screen and (max-width: 415px) {
    .header-main-text{
        width: unset;
    }
    .header-profile-secondary{
        font-size: 24px;
    }
    .header-profile-primary{
        font-size: 30px;
    }
    .company-profile{
        transform: translateY(-4%);
    }
    button.btn-setting {
        width: 40%;
    }
    .profile-img .user-avatar {
        width: 160px;
        height: 160px;
    }
    .content-profile-header span {
        font-size: 26px;
    }
    .content-profile-main span{
        font-size: 20px;
    }
    .profile-user, 
    .about-user{
        width: 85%;
    }
    .contact-user,
    .contact-user-address{
        width: 85%;
    }
    .contact-user input{
        width: 100%;
    }
    .btn-save {
        width: 38%;
    }
    .camera-edit {
        right: 30%;
        top: 1.5%;
    }
    .camera-user-edit {
        top: 2.3%;
        right: 30%;
    }
    .camera-user-company{
        top: 6.5%;
    }
    .edit-img {
        width: 152px;
        height: 152px;
        top: -60px;
    }
    .listjobs-action button, 
    .listleadership-action button{
        font-size: 14px;
    }
    span.timejobs, span.locationjobs{
        font-size: 8px;
    }
    .namejobs{
        font-size: 14px !important;
    }
    .secondary-listjob{
        padding-left: 18px;
    }
    li.content-listjob .cv-applied{
        margin-left: 19px;
        width: 146px;
        height: 24px;
        font-size: 12px;
    }
    .leadership-action-view{
        width: 90%;
    }
    li.content-listleadership img{
        width: 50px;
        height: 50px;
    }
    .infoleadership .nameleadership{
        font-size: 16px;
    }
    .infoleadership .position{
        font-size: 8px;
    }
    li.content-listjob a.payment{
        font-size: 24px;
    }
    li.content-listjob a.payment::after{
        font-size: 12px;
        width: 120px;
    }
    .alert-message{
        width: 80vw;
    }
    .container-checkpayment .box__dates-payment,
    .container__success-payment .main__success-payment,
    .container__cancel-payment .main__cancel-payment{
        width: 90%;
    }
    .container__success-payment .main__success-payment .navbar-left .litle-text{
        left: 90%;
    }
    header.logo-success p{
        font-size: 14px;
    }
    .container__success-payment .main__success-payment .body__success-payment header.logo-success h1,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment h1{
        font-size: 24px;
    }
    .container__success-payment .main__success-payment .body__success-payment section p,
    .container__success-payment .main__success-payment .body__success-payment .bottom p,
    .container__success-payment .main__success-payment .confirm-payment label,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment p,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment label{
        font-size: 14px;
    }
    .container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
        left: 18%;
    }
    .container__cancel-payment .main__cancel-payment .body__cancel-payment img{
        width: 66%;
    }
    .container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a{
        font-size: 16px;
    }
    .jobdesc{
        height: 150px;
    }
    .info-job textarea{
        height: 90px;
    }
    .info-job-salary{
        flex-wrap: wrap;
        height: unset;
    }
    .job-salary{
        order: 1;
        width: 100%;
        justify-content: center;
        height: unset;
    }
    .job-experience{
        width: 100%;
        justify-content: center;
    }
    .info-job-salary .job-location,
    .job-position,
    .job-level,
    .employe-type{
        width: 48%;
        justify-content: center;
        height: 70%;
        height: unset;
    }
    .job-position{
        order: 2;
    }
    .job-location{
        order: 3;
    }
    .label-benefit,
    .info-job-salary label{
        margin: 6px 0;
    }
    .text{
        padding: 56px 10px 10px 10px;
    }
    .img-avatar img#avatar-leader{
        width: 120px;
        height: 120px;
    }
    .text .p{
        padding: 12px 0;
    }
    .payment-history .box-history h1{
        font-size: 30px;
    }
    li.content-listjob .namejobs a{
        padding-right: 50px;
    }
    .modal-content__error{
        font-size: 12px;
    }
    #postjob header .postjob-cancle button{
        padding: 4px 8px;
        font-size: 18px;
    }
    #postjob header .postjob-cancle{
        padding: 0 8px;
    }
}
@media screen and (max-width: 376px) {
    button.btn-setting {
        width: 44%;
    }
    .container-checkpayment .box__dates-payment .primary-text{
        font-size: 24px;
    }
    .container-checkpayment .box__dates-payment .title-payment{
        font-size: 16px;
    }
    .container-checkpayment .box__dates-payment .card-payment label,
    .container-checkpayment .box__dates-payment .accept-payment label{
        font-size: 16px;
    }
    .container__success-payment .main__success-payment .navbar-left .litle-text{
        left: 100%;
    }
    .container__success-payment .main__success-payment .body__success-payment section p,
    .container__success-payment .main__success-payment .body__success-payment .bottom p,
    .container__success-payment .main__success-payment .confirm-payment label,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment p,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment label{
        font-size: 12px;
    }
    .container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a{
        font-size: 14px;
    }
    .secondary-listjob {
        flex-wrap: wrap;
    }
    li.content-listjob .namejobs a{
        padding-right: 60px;
    }
    #updateleadership{
        width: 95%;
    }
    .btn-postjob, .btn-update-leadership, .btn-postjob-cancle, .btn-postleader-cancle, .btn-updateleader-cancle{
        font-size: 18px;

    }
    .payment-history .box-history h1{
        font-size: 28px;
    }
}
@media screen and (max-width: 321px) {
    .modal-content__error{
        font-size: 10px;
    }
    .modal-content__error p i{
        font-size: 18px;
    }
    button.btn-setting {
        width: 52%;
    }
    .content-profile-main span {
        font-size: 18px;
    }
    .btn-save {
        width: 50%;
    }
    .camera-edit {
        right: 38.5%;
        top: 2%;
    }
    .camera-user-edit{
        top: 3.3%;
        right: 39%;
    }
    .camera-user-company{
        top: 9%;
    }
    .namejobs{
        font-size: 12px !important;
    }
    li.content-listjob .cv-applied {
        font-size: 10px;
        width: 124px;
    }
    li.content-listleadership img{
        width: 40px;
        height: 40px;
    }
    .infoleadership .nameleadership{
        font-size: 12px;
    }
    .infoleadership .position{
        font-size: 6px;
    }
    .alert-message{
        padding-right: 40px;
    }
    .alert-message p{
        font-size: 12px;
    }
    .container-checkpayment .box__dates-payment .accept-payment{
        font-size: 22px;
    }
    .container-checkpayment .box__dates-payment .card-payment label,
    .container-checkpayment .box__dates-payment .accept-payment label{
        font-size: 12px;
    }
    .container-checkpayment .box__dates-payment .accept-payment{
        margin: unset;
    }
    .container__success-payment .main__success-payment .navbar-left .litle-text{
        left: 118%;
    }
    .container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
        left: 23.5%;
    }
    .container__cancel-payment .main__cancel-payment .body__cancel-payment img{
        width: 80%;
        height: 180px;
    }
    .container__success-payment .main__success-payment .body__success-payment section p,
    .container__success-payment .main__success-payment .body__success-payment .bottom p,
    .container__success-payment .main__success-payment .confirm-payment label,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment p,
    .container__cancel-payment .main__cancel-payment .body__cancel-payment label{
        font-size: 10px;
    }
    .container__success-payment .main__success-payment,
    .container__cancel-payment .main__cancel-payment{
        margin-bottom: 30px;
    }
    .container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a{
        font-size: 12px;
    }
    .info-job textarea{
        height: 80px;
    }
    .btn-postjob, .btn-update-leadership, .btn-postjob-cancle, .btn-postleader-cancle, .btn-updateleader-cancle{
        font-size: 14px;
    }
    .info-job input, 
    .info-job textarea, 
    .info-job input, 
    .info-job textarea, 
    .job-location select, 
    .job-level select, 
    .employe-type select{
        font-size: 10px;
    }
    .info-job-salary .job-location, 
    .job-position, 
    .job-level, 
    .employe-type{
        width: 100%;
    }
    .info-job label{
        font-size: 14px;
        margin: 6px 0;
    }
    .text .h3{
        font-size: 18px;
    }
    .text{
        padding: 46px 6px 10px 6px;
    }
    .img-avatar img#avatar-leader{
        width: 100px;
        height: 100px;
    }
    .text .span{
        font-size: 14px;
    }
    .text .p{
        padding: unset;
    }
    .payment-history .box-history h1{
        font-size: 24px;
    }
    li.content-listjob .namejobs a{
        padding-right: 50px;
    }
    span.timejobs, span.locationjobs{
        font-size: 8px;
    }
    li.content-listjob a.payment::after{
        font-size: 10px;
        width: 100px;
    }
    #postjob header .postjob-cancle button {
        font-size: 14px;
    }
    #postjob header .postjob-cancle h2{
        font-size: 20px;
    }
}