.main-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 620px;
}
.form-company-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 620px;
    background:linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.2)), url('/img/headerprofile.jpeg') center/cover no-repeat;
    position: relative;
}
label.changebackground-profile{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: .3s;
}
label.changebackground-profile:hover{
    background-color: $primarycolor;
}
.header-profile-company{
    height: 620px;
}
.header-main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 240px;
    width: 580px;
    // background-color: rgba(0,0,0,0.3);
    // background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.3));
    // backdrop-filter: blur(5px);
    margin-bottom: 20px;
    color: white;
    text-shadow: 3px 3px 2px rgba(255, 255, 255,0.5);
}
.header-profile-primary{
    font-size: 40px;
    font-weight: 700;
    padding-left: 12px;
    min-height: 25%;
}
.header-profile-secondary{
    font-size: 30px;
    font-weight: 500;
    padding: 12px;
    max-height: 65%;
    text-shadow: 2px 2px 2px rgba(255, 255, 255,0.5);
}
button.btn-setting {
    appearance: button;
    background-color: #d6c918;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 14%;
    margin-left: 12px;
   }
   
   button.btn-setting:after {
    background-clip: padding-box;
    background-color: $primarycolor;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button.btn-setting:main, button.btn-setting:focus {
    user-select: auto;
   }
   
   button.btn-setting:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button.btn-setting:disabled {
    cursor: auto;
   }
   
   button.btn-setting:active:after {
    border-width: 0 0 0px;
   }
   
   button.btn-setting:active {
    padding-bottom: 10px;
   }
.content-profile,
.company-profile{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.5);
    transform: translateY(-6%);
    z-index: 10;
    display: none;
    transition: 1s;
}
.company-profile{
    transform: translateY(-5%);
}
.content-profile-main > * {
    margin: 14px 0;
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.profile-img .user-avatar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #8f8d8d;
    transform: translateY(-40%);
    position: relative;
    cursor: pointer;
    background-color: white;
}
.edit-img{
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(0,0,0,0.3);
    height: 172px;
    width: 172px;
    border-radius: 50%;
    cursor: pointer;
    top: -68px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}
.camera-edit{
    position: absolute;
    font-size: 30px;
    right: 41%;
    top: 2.5%;
    color: black;
    padding: 0 8px;
    border-radius: 50%;
    background-color:  rgba(255,255,255,0.5);
    cursor: pointer;
    border: 1px dashed black;
    transition: .3s;
}
.camera-user-edit{
    top: 4.5%;
}
.camera-edit:hover{
    background-color:#8f8d8d;
    color: white;
    border: unset;
}
.edit-img span{
    transform: translateY(-220%);
}
.content-profile-header{
    width: 100%;
    height: 5%;
}
.content-profile-header span,
.content-profile-main span{
    font-size: 24px;
    font-weight: 700;
    padding: 0 24px;
}
.content-profile-header span{
    font-size: 30px
}
.content-profile-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.profile-info-user,
.about-me-profile,
.about-company-profile,
.listjobs,
.listleadership{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about-company-profile{
    margin-bottom: 40px;
}
.about-company-profile > *,
.listjobs,
.listleadership {
    margin: 8px 0 0 0;
}
// .listjobs{
//     height: 2000px;
// }
.underline-profile{
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.underline-profile .underline{
    width: 95%;
    height: 1px;
    background-color: #bdc0c0;
}
.profile-user,
.about-user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 100px;
}
.profile-user label,
.contact-user label,
.contact-user-address label,
.about-user label{
    font-size: 20px;
    font-weight: 500;
}
.profile-user input,
.contact-user input,
.contact-user-address input,
.about-user input,
.about-user select,
.about-user textarea{
    width: 100%;
    height: 45%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 0 8px;
    resize: none;
}
.about-user textarea{
    height: 130px;
    padding: 8px 12px 0 12px;
}
#file-user{
    display: none;
}
.contact-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-user-address{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100px;
}
.contact-user-address input{
    width: 100%;
}
.contact-user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
    height: 100px;
}
.contact-user input{
    width: 90%;
}
.experience{
    width: 95%;
}
.experience input{
    width: 100%;
}
.profile-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-bottom: 20px;
}
.btn-save{
    width: 15%;
    height: 50px;
    border: none;
    outline: none;
    background-color: unset;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
.btn-save:hover{
    box-shadow: 1px 1px 50px rgba(0,0,0,0.4);
}
#email-profile,
#username-profile{
    color: #8f8d8d;
    cursor: not-allowed;
}
.about-user-desc-company{
    width: 95%;
    height: 180px;
}
input#postal::-webkit-outer-spin-button,
input#postal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.listjobs-action,
.listleadership-action {
    width: 95%;
}
.listjobs-action button,
.listleadership-action button{
    width: 18%;
    outline: none;
    border: 1px solid $primarycolor;
    border-radius: 10px;
    background-color: transparent;
    height: 40px;
}
.listjobs-action button:hover,
.listleadership-action button:hover{
    background-color: rgba(0,0,0,0.1);
}
.overplay-postjob,
.overplay-postleadership,
.overplay-review{
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index: 19;
    transform: translatey(-12%);
    cursor: pointer;
    margin: unset !important;
}
.overplay-review{
    transform: translatey(-12%) translateX(-12%);
    width: 200%;
    height: 137%;
}
#postjob,
#postleadership{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 680px;
    position: fixed;
    z-index: 20;
    transform: translateY(-8%);
}
#postleadership{
    height: 600px;
}
#postjob h2,
#postleadership h2{
    text-align: center;
    color: white;
}
#updateleadership{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 30;
    width: 600px;
    height: 700px;
    top: 49%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.book {
    position: relative;
    border-radius: 10px;
    width: 600px;
    height: 700px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    overflow: hidden;
  }
 .book .close-book{
    position: absolute;
    top: -4px;
    right: 2px;
    padding: unset !important;
    font-size: 28px;
  }
  .book .close-book:hover{
    color: #FC0404;
  }
  .book p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding: 16px 24px 16px 48px;
    margin: unset !important;
  }
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
  }
  .cover img{
    width: 100% !important;
    height: 80% !important;
    border: unset !important;
    padding: unset !important;
  }
  .cover h1 {
    margin: unset;
    height: 13%;
    text-align: center;
    padding: 24px 0;
    width: 100%;
  }
  .cover span{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    height: 7%;
    padding: unset !important;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
.info-job{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}
.info-job label{
    color: white;
    font-size: 18px;
}
.info-job input,
.info-job textarea,
.job-location select{
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 4px 12px;
}
.jobdesc{
    height: 200px;
}
.info-job textarea{
    height: 120px;
}
.info-job-salary{
    flex-direction: row;
    justify-content: space-between;
}
.info-job-salary .job-location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: 100%;
}
.job-salary,
.job-position{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: 100%;
}
#salary-range{
    width: 100%;
}
.postleader-cancle,
.postjob-cancle{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.postleader-cancle > * ,
.postjob-cancle > *{
    margin: 0 12px;
}
.btn-postjob,
.btn-update-leadership,
.btn-postjob-cancle,
.btn-postleader-cancle,
.btn-updateleader-cancle{
    outline: none;
    border: 1px solid $primarycolor;
    height: 50%;
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 10px;
}
.btn-postjob-cancle,
.btn-postleader-cancle,
.btn-updateleader-cancle{
    width: 80px;
    border: 1px solid #FC0404;
    color: #FC0404;
}
.btn-postjob-cancle:hover,
.btn-postleader-cancle:hover,
.btn-updateleader-cancle:hover{
    background-color: #FC0404;
    color: white;
}
.btn-postleader,
.btn-update-leadership{
    width: 180px;
}
.btn-postjob:hover,
.btn-update-leadership:hover{
    background-color: rgba(255,255,255,0.5);
}
.listjobs ul,
.listleadership ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    padding: unset;
    margin-top: 20px;
}
li.content-listjob,
li.content-listleadership{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90px;
    padding: unset;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 12px;
    cursor: pointer;
    list-style-type: none;
    font-size: 20px;
    text-transform: capitalize;
}
li.content-listjob{
    position: relative;
    height: 102px;
}
li.content-listjob a.payment{
    position: absolute;
    color: black;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li.content-listjob a.payment::after{
    position: absolute;
    content: "advertise this job";
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    padding: 4px 8px;
    font-size: 16px;
    width: 160px;
    height: 30px;
    display: none;
    text-align: center;
    bottom: 15%;
    left: 42px;
}
li.content-listjob a.payment:hover::after{
    display: block;
}
li.content-listjob .remove-blocked{
    position: absolute;
    top: -10%;
    left: -14%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    z-index: 19;
}
li.content-listjob .cv-applied{
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
    border: 1px solid $secondarycolor;
    background-color: white;
    color: $secondarycolor;
    border-radius: 5px;
    text-decoration: none;
    width: 120px;
    height: 30px;
    margin-top: 6px;
    margin-left: 24px;
    text-align: center;
    transition: .5s;
}
li.content-listjob .cv-applied:hover{
    background-color: $secondarycolor;
    color: white;
}
li.content-listjob .remove-blocked span{
    font-size: 20px;
    margin: 6px 0;
}
li.content-listjob a.payment:hover{
    color: $primarycolor;
}
li.content-listleadership{
    flex-direction: row;
    height: 80px;
    align-items: center;
}
li.content-listjob:hover .namejobs{
    color: $primarycolor;
}
li.content-listleadership img{
    width: 60px;
    height: 60px;
    padding: 2px;
    border: 2px solid $primarycolor;
}
.infoleadership{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.infoleadership .nameleadership{
    font-size: 20px;
    font-weight: 700;
    height: 22px;
}
.infoleadership .position{
    color: #b9c2c4;
    font-size: 14px;
    font-weight: 800;
    height: 18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.action-leader{
    position: relative;
    right: 0;
}
.show-action{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 120px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.5) 0px 7px 29px 0px;
    position: absolute;
    transform:translateX(-50%) ;
}
span.update-leader{
    font-size: 18px;
}
span.update-leader:hover{
    color: #26B7ED;
}
.show-action a{
    text-decoration: none;
    color: black;
}
.show-action a:hover{
    color: #FC0404;
}
.namejobs{
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 0 0 0 2px !important;
}
.namejobs i{
    visibility: hidden;
}
li.content-listjob:hover i.bi-three-dots-vertical{
    visibility: unset;
    color: black;
}
.secondary-listjob{
    display: inline-block;
    padding-left: 24px;
}
span.timejobs,
span.locationjobs{
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 400;
    width: 50%;
    padding: unset;
}
ul.listpagejob,
ul.listpageleadership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px !important;
    padding: unset !important;
  }
  ul.listpagejob li,
  ul.listpageleadership li {
    width: 40px;
    height: 40px;
    color: black;
    background-color: white;
    border: 1px solid #DEE2E6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: unset;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul.listpagejob li:hover {
    border: 1px solid #ddcf76;
    background-color: $primarycolor;
    color: white;
  }
  ul.listpagejob .active,
  ul.listpageleadership .active {
    border: 1px solid #ddcf76;
    cursor: not-allowed;
    background-color: $primarycolor;
    color: white;
  }
  .avatar-leadership{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .avatar-leadership img{
    border: 2px solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
  }
  .leadership-avatar{
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
  .avatar-leadership input{
    display: none;
  }
  .eidt__avatar-leadership{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: none;
    z-index: 30;
  }
.leadership-action-view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.leadership-action-view button{
    width: 120px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 4px solid #FCE604;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    text-align: center;
}
.leadership-action-view #view-more-btn:hover{
    background-color: #FCE604;
    color: white;
    border: 4px solid white;
    box-shadow: 2px 2px 2px 6px #FCE604;
    font-weight: 600;
}
.leadership-action-view #view-less-btn{
    border: 4px solid #FC0404;
    opacity: 0;
    cursor: default;
}
.leadership-action-view #view-less-btn:hover {
    background-color: #FC0404;
    color: white;
    border:4px solid white ;
    box-shadow: 2px 2px 1px 6px #FC0404;
    font-weight: 600;
}
// check payment
.container-checkpayment{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 100vh;
}
.container-checkpayment .box__dates-payment{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
    box-shadow: 0 5px 15px $secondarycolor;
    margin-top: 50px;
}
.container-checkpayment .box__dates-payment .primary-text{
    font-size: 30px;
    font-weight: 600;
    margin: 12px 0 12px 20px;
    width: 100%;
}
.container-checkpayment .box__dates-payment .title-payment{
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 12px;
    padding-right: 70px;
    width: 100%;
}
.container-checkpayment .box__dates-payment .card-payment{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
}
.container-checkpayment .box__dates-payment .card-payment input{
    width: 18px;
    height: 18px;
    margin: 0 8px 0 20px;
}
.container-checkpayment .box__dates-payment .card-payment label{
    font-size: 18px;
}
.container-checkpayment .box__dates-payment .accept-payment{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 22px;
    margin: 12px 0;
    min-height: 50px;
}
.container-checkpayment .box__dates-payment .accept-payment span.content{
    font-size: 16px;
    font-weight: 400;
    color: #b1b1b1;
    width: 100%;
    text-align: justify;
    padding-right: 70px;
    margin-top: 8px;
    display: none;
}
.container-checkpayment .box__dates-payment .accept-payment input{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.container-checkpayment .box__dates-payment .accept-payment label {
    font-size: 18px;
}
.container-checkpayment .box__dates-payment button{
    align-self: center;
    margin: 12px 0;
    outline: none;
    border: 1px solid $secondarycolor;
    color: $secondarycolor;
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
}
.container-checkpayment .box__dates-payment button:hover{
    background-color: $secondarycolor;
    color: white;
}
// payment success
.container__success-payment{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    width: 100%;
    background-color: $backgroundcolor;
}
.container__success-payment .main__success-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 10px 20px $secondarycolor;
    margin-top: 20px;
}
.container__success-payment .main__success-payment .navbar-left{
    margin: 12px 0;
}
.container__success-payment .main__success-payment .navbar-left .litle-text{
    width: 170px;
    left: 63%;
    bottom: -3px;
}
.container__success-payment .main__success-payment .body__success-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success img{
    width: 40%;
    height: 140px;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success .welcome b{
    color: $secondarycolor;
    margin-top: 6px;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success h1{
    color: $secondarycolor;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success .total{
    color: #ff7d55;
}
.container__success-payment .main__success-payment .body__success-payment header.logo-success .time-payment{
    color: #bdc0c0;
    font-size: 14px;
}
.container__success-payment .main__success-payment .body__success-payment section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-left: 30px;
}
.container__success-payment .main__success-payment .body__success-payment .bottom{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}
.container__success-payment .main__success-payment .action-confirm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.container__success-payment .main__success-payment .action-confirm a{
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: $secondarycolor;
    border: 1px solid $secondarycolor;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.container__success-payment .main__success-payment .confirm-payment{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}
.container__success-payment .main__success-payment .confirm-payment input{
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.container__success-payment .main__success-payment .confirm-payment label{
    font-size: 16px;
}
.container__success-payment .main__success-payment .action-confirm a:hover{
    background-color: $secondarycolor;
    color: white;
}
// cancel payment
.container__cancel-payment{
    background-color: $backgroundcolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.container__cancel-payment .main__cancel-payment{
    background-color: white;
    box-shadow: 0 10px 20px #bc2627;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.container__cancel-payment .main__cancel-payment .navbar-left{
    margin: 12px 0 12px 30px;
    width: 100%;
}
.container__cancel-payment .main__cancel-payment .navbar-left .litle-text{
    width: 170px;
    left: 12.5%;
    bottom: -3px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 30px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment img{
    width: 50%;
    height: 200px;
    filter: drop-shadow(0 3px 6px #bc2627);
    margin-bottom: 12px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment h1{
    color: #bc2627;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment p b{
    color: #bc2627;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment p b.sorry{
    font-weight: 700;
    color: black;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .option{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 12px 0;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment input{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment label{
    font-size: 16px;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a{
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #bc2627;
    border: 1px solid #bc2627;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
}
.container__cancel-payment .main__cancel-payment .body__cancel-payment .action__cancel-payment a:hover{
    background-color: #bc2627;
    color: white;
}
