.main-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-company-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 550px;
    background:linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.2)), url('/img/headerprofile.jpeg') center/cover no-repeat;
    position: relative;
}
label.changebackground-profile{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: .3s;
}
label.changebackground-profile:hover{
    background-color: $primarycolor;
}
.header-profile-company{
    height: 620px;
}
.header-main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 240px;
    width: 580px;
    // background-color: rgba(0,0,0,0.3);
    // background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255,255,255,0.3));
    // backdrop-filter: blur(5px);
    margin-bottom: 20px;
    color: white;
    text-shadow: 3px 3px 2px rgba(255, 255, 255,0.5);
}
.header-profile-primary{
    font-size: 40px;
    font-weight: 700;
    padding-left: 12px;
    min-height: 25%;
}
.header-profile-secondary{
    font-size: 30px;
    font-weight: 500;
    padding: 12px;
    max-height: 65%;
    text-shadow: 2px 2px 2px rgba(255, 255, 255,0.5);
}
button.btn-setting {
    appearance: button;
    background-color: #d6c918;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 14%;
    margin-left: 12px;
   }
   
   button.btn-setting:after {
    background-clip: padding-box;
    background-color: $primarycolor;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button.btn-setting:main, button.btn-setting:focus {
    user-select: auto;
   }
   
   button.btn-setting:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button.btn-setting:disabled {
    cursor: auto;
   }
   
   button.btn-setting:active:after {
    border-width: 0 0 0px;
   }
   
   button.btn-setting:active {
    padding-bottom: 10px;
   }
.content-profile,
.company-profile{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.5);
    transform: translateY(-6%);
    z-index: 10;
    display: none;
    transition: 1s;
}
.company-profile{
    transform: translateY(-5%);
}
.content-profile-main > * {
    margin: 14px 0;
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.profile-img .user-avatar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #8f8d8d;
    transform: translateY(-40%);
    position: relative;
    cursor: pointer;
}
.edit-img{
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(0,0,0,0.3);
    height: 172px;
    width: 172px;
    border-radius: 50%;
    cursor: pointer;
    top: -68px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}
.camera-edit{
    position: absolute;
    font-size: 30px;
    right: 41%;
    top: 2.5%;
    color: black;
    padding: 0 8px;
    border-radius: 50%;
    background-color:  rgba(255,255,255,0.5);
    cursor: pointer;
    border: 1px dashed black;
    transition: .3s;
}
.camera-user-edit{
    top: 4.5%;
}
.camera-edit:hover{
    background-color:#8f8d8d;
    color: white;
    border: unset;
}
.edit-img span{
    transform: translateY(-220%);
}
.content-profile-header{
    width: 100%;
    height: 5%;
}
.content-profile-header span,
.content-profile-main span{
    font-size: 24px;
    font-weight: 700;
    padding: 0 24px;
}
.content-profile-header span{
    font-size: 30px
}
.content-profile-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.profile-info-user,
.about-me-profile,
.about-company-profile,
.listjobs,
.listleadership{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about-company-profile{
    margin-bottom: 40px;
}
.about-company-profile > *,
.listjobs,
.listleadership {
    margin: 8px 0 0 0;
}
// .listjobs{
//     height: 2000px;
// }
.underline-profile{
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.underline-profile .underline{
    width: 95%;
    height: 1px;
    background-color: #bdc0c0;
}
.profile-user,
.about-user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 100px;
}
.profile-user label,
.contact-user label,
.contact-user-address label,
.about-user label{
    font-size: 20px;
    font-weight: 500;
}
.profile-user input,
.contact-user input,
.contact-user-address input,
.about-user input,
.about-user select,
.about-user textarea{
    width: 100%;
    height: 45%;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 0 8px;
    resize: none;
}
.about-user textarea{
    height: 130px;
    padding: 8px 12px 0 12px;
}
#file-user{
    display: none;
}
.contact-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-user-address{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100px;
}
.contact-user-address input{
    width: 100%;
}
.contact-user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
    height: 100px;
}
.contact-user input{
    width: 90%;
}
.experience{
    width: 95%;
}
.experience input{
    width: 100%;
}
.profile-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-bottom: 20px;
}
.btn-save{
    width: 15%;
    height: 50px;
    border: none;
    outline: none;
    background-color: unset;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
.btn-save:hover{
    box-shadow: 1px 1px 50px rgba(0,0,0,0.4);
}
#email-profile,
#username-profile{
    color: #8f8d8d;
    cursor: not-allowed;
}
.about-user-desc-company{
    width: 95%;
    height: 180px;
}
input#postal::-webkit-outer-spin-button,
input#postal::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.listjobs-action,
.listleadership-action {
    width: 95%;
}
.listjobs-action button,
.listleadership-action button{
    width: 18%;
    outline: none;
    border: 1px solid $primarycolor;
    border-radius: 10px;
    background-color: transparent;
    height: 40px;
}
.listjobs-action button:hover,
.listleadership-action button:hover{
    background-color: rgba(0,0,0,0.1);
}
.overplay-postjob,
.overplay-postleadership{
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index: 19;
    transform: translatey(-12%);
    cursor: pointer;
}
#postjob,
#postleadership{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 680px;
    position: fixed;
    z-index: 20;
    transform: translateY(-8%);
}
#postleadership{
    height: 600px;
}
#postjob h2,
#postleadership h2{
    text-align: center;
    color: white;
}
.info-job{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}
.info-job label{
    color: white;
    font-size: 18px;
}
.info-job input,
.info-job textarea,
.job-location select{
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    resize: none;
    padding: 4px 12px;
}
.jobdesc{
    height: 200px;
}
.info-job textarea{
    height: 120px;
}
.info-job-salary{
    flex-direction: row;
    justify-content: space-between;
}
.info-job-salary .job-location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48%;
    height: 100%;
}
.job-salary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48%;
    height: 100%;
}
#salary-range{
    width: 100%;
}
.postleader-cancle,
.postjob-cancle{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.postleader-cancle > * ,
.postjob-cancle > *{
    margin: 0 12px;
}
.btn-postjob,
.btn-postjob-cancle,
.btn-postleader-cancle{
    outline: none;
    border: 1px solid $primarycolor;
    height: 50%;
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 10px;
}
.btn-postjob-cancle,
.btn-postleader-cancle{
    width: 80px;
    border: 1px solid #FC0404;
    color: #FC0404;
}
.btn-postjob-cancle:hover,
.btn-postleader-cancle:hover{
    background-color: #FC0404;
    color: white;
}
.btn-postleader{
    width: 180px;
}
.btn-postjob:hover{
    background-color: rgba(255,255,255,0.5);
}
.listjobs ul,
.listleadership ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    padding: unset;
    margin-top: 20px;
}
li.content-listjob,
li.content-listleadership{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 60px;
    padding: unset;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 12px;
    cursor: pointer;
    list-style-type: none;
    font-size: 20px;
    text-transform: capitalize;
}
li.content-listleadership{
    flex-direction: row;
    height: 80px;
    align-items: center;
}
li.content-listjob:hover .namejobs{
    color: $primarycolor;
}
li.content-listleadership img{
    width: 60px;
    height: 60px;
    padding: 2px;
    border: 2px solid $primarycolor;
}
.infoleadership{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.infoleadership .nameleadership{
    font-size: 20px;
    font-weight: 700;
    height: 22px;
}
.infoleadership .position{
    color: #b9c2c4;
    font-size: 14px;
    font-weight: 800;
    height: 18px;
}
.namejobs{
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 0 0 0 2px !important;
    height: 20px;
}
.secondary-listjob{
    display: inline-block;
    height: 20px;
}
span.timejobs,
span.locationjobs{
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 400;
    width: 50%;
    padding: unset;
}
ul.listpagejob,
ul.listpageleadership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px !important;
  }
  ul.listpagejob li,
  ul.listpageleadership li {
    width: 30px;
    height: 30px;
    color: black;
    text-align: center;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: unset;
    list-style-type: none;
  }
  ul.listpagejob li:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  ul.listpagejob .active,
  ul.listpageleadership .active {
    border: 1px solid $primarycolor ;
    border-radius: 10px;
    transform: scale(1.2);
    cursor: not-allowed;
    text-align: center;
  }
  .avatar-leadership{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .avatar-leadership img{
    border: 2px solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
  }
  .leadership-avatar{
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
  .avatar-leadership input{
    display: none;
  }
  .eidt__avatar-leadership{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: none;
    z-index: 30;
  }
.leadership-action-view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.leadership-action-view button{
    width: 120px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 4px solid #FCE604;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    text-align: center;
}
.leadership-action-view #view-more-btn:hover{
    background-color: #FCE604;
    color: white;
    border: 4px solid white;
    box-shadow: 2px 2px 2px 6px #FCE604;
    font-weight: 600;
}
.leadership-action-view #view-less-btn{
    border: 4px solid #FC0404;
    opacity: 0;
    cursor: default;
}
.leadership-action-view #view-less-btn:hover {
    background-color: #FC0404;
    color: white;
    border:4px solid white ;
    box-shadow: 2px 2px 1px 6px #FC0404;
    font-weight: 600;
}
