$primarycolor: #fed200;
$secondarycolor: #0072bc;
$btncolor: #0095ff;
$textadmincolor: #aeaeae;
$thirdcolor: #004270;
$inputcolor: #f5f5f5;
$backgroundcard: #eaeaea;
$backgroundcolor: #f9f9f9;
$salaryColor: #FF5733;
$locationColor: #FFA500;
$whitecolor: white;
$textcolor: #666666;
$titlecolor:#121212;
$secondcolor: #303030;
$boxshadowPrimary: rgba(254, 219, 0,0.8);
$letercolor: #ff0000;
$tablecolor: rgb(6, 30, 62);

