.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.header-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 550px;
  background: url("/img/headerprofile.jpeg") center/cover no-repeat; }

.header-profile span {
  margin: 12px 0; }

.header-profile-primary {
  font-size: 40px;
  font-weight: 700;
  padding-left: 12px; }

.header-profile-secondary {
  font-size: 30px;
  font-weight: 500;
  padding: 0 50% 0 12px; }

.content-profile {
  width: 70%;
  height: 1250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
  transform: translateY(-10%);
  z-index: 10; }

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }

.profile-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transform: translateY(-24%);
  position: relative; }

.edit-img {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  height: 180px;
  width: 180px;
  border-radius: 50%;
  cursor: pointer;
  top: -40px;
  right: 43%; }

.profile-img label:hover img {
  transform: translateY(-28%);
  cursor: pointer; }

.edit-img span {
  transform: translateY(-140%); }

.profile-img label:hover .edit-img {
  display: flex;
  z-index: 20; }

.content-profile-header {
  width: 100%;
  height: 80px; }

.content-profile-header span,
.content-profile-main span {
  font-size: 24px;
  font-weight: 700;
  padding: 0 24px; }

.content-profile-header span {
  font-size: 30px; }

.content-profile-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1000px; }

.profile-info-user,
.about-me-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }

.underline-profile {
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }

.underline-profile .underline {
  width: 95%;
  height: 1px;
  background-color: #bdc0c0; }

.profile-user,
.about-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100px; }

.profile-user label,
.contact-user label,
.contact-user-address label,
.about-user label {
  font-size: 20px;
  font-weight: 500; }

.profile-user input,
.contact-user input,
.contact-user-address input,
.about-user input {
  width: 75%;
  height: 45%;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0 8px; }

#file-user {
  display: none; }

.contact-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.contact-user-address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 100px; }

.contact-user-address input {
  width: 100%; }

.contact-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28%;
  height: 100px; }

.contact-user input {
  width: 90%; }

.experience {
  width: 95%; }

.experience input {
  width: 100%; }

.profile-action {
  text-align: center;
  transform: translateY(50%); }

.btn-save {
  width: 15%;
  height: 50px;
  border: none;
  outline: none;
  background-color: unset;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700; }

.btn-save:hover {
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.4); }

#email-profile,
#username-profile {
  color: #8f8d8d; }

.skills-profile,
.languages-profile,
.email-profile,
.password-profile {
  align-items: end; }

.skills-profile label {
  align-self: start;
  transform: translateX(220%); }

.languages-profile label {
  align-self: start;
  transform: translateX(105%); }

.email-profile label {
  align-self: start;
  transform: translateX(80%); }

.password-profile label {
  align-self: start;
  transform: translateX(120%); }

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.first-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 650px;
  background: url("/img/bgcontent.jpeg") center/cover no-repeat; }

.first-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%; }

.first-content-left .left-secondary-text {
  font-size: 26px;
  font-weight: 600;
  padding: 10px 0 10px 0;
  transform: translatey(-10%); }

.home-create-cv {
  width: 25%;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fedb00;
  padding: 8px 10px;
  border: 2px solid #fedb00;
  background-color: black;
  box-shadow: 2px 2px 30px black; }

.home-create-cv:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.first-content-right {
  padding: 10px;
  border: 4px solid black;
  transform: translateY(-12%); }

.first-content-right img {
  display: none;
  width: 300px;
  height: 300px; }

.first-content-right img:first-child {
  display: block; }

.templates-cv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 650px;
  background-color: #303030;
  margin: 50px 0; }

.templates-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 45%;
  overflow: hidden;
  position: relative; }

.templates-img img {
  height: 550px;
  width: 80%;
  transform: translateY(-100%);
  position: absolute;
  transition: 1s;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.4); }

.templates-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  color: #fedb00; }

.templates-text span {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px; }

.templates-text__action {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: black;
  background-color: #fedb00;
  padding: 10px;
  border: 2px solid black;
  margin-top: 30px;
  box-shadow: 2px 2px 30px #fedb00; }

.templates-text__action:hover {
  opacity: 0.9; }

.advantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  flex-wrap: wrap;
  margin-bottom: 50px; }

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 45%;
  height: 250px;
  margin: 20px 0; }

.advantage i {
  font-size: 50px;
  height: 30%; }

.advantage h3 {
  font-size: 25px;
  font-weight: 700;
  height: 15%; }

.advantage span {
  font-size: 20px;
  font-weight: 500;
  color: #777876;
  height: 45%;
  padding: 0 30px 0 0; }

.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.header-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 550px;
  background: url("/img/headerprofile.jpeg") center/cover no-repeat; }

.header-profile span {
  margin: 12px 0; }

.header-profile-primary {
  font-size: 40px;
  font-weight: 700;
  padding-left: 12px; }

.header-profile-secondary {
  font-size: 30px;
  font-weight: 500;
  padding: 0 50% 0 12px; }

.content-profile {
  width: 70%;
  height: 1250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
  transform: translateY(-10%);
  z-index: 10; }

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }

.profile-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transform: translateY(-24%);
  position: relative; }

.edit-img {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  height: 180px;
  width: 180px;
  border-radius: 50%;
  cursor: pointer;
  top: -40px;
  right: 43%; }

.profile-img label:hover img {
  transform: translateY(-28%);
  cursor: pointer; }

.edit-img span {
  transform: translateY(-140%); }

.profile-img label:hover .edit-img {
  display: flex;
  z-index: 20; }

.content-profile-header {
  width: 100%;
  height: 80px; }

.content-profile-header span,
.content-profile-main span {
  font-size: 24px;
  font-weight: 700;
  padding: 0 24px; }

.content-profile-header span {
  font-size: 30px; }

.content-profile-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1000px; }

.profile-info-user,
.about-me-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; }

.underline-profile {
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }

.underline-profile .underline {
  width: 95%;
  height: 1px;
  background-color: #bdc0c0; }

.profile-user,
.about-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100px; }

.profile-user label,
.contact-user label,
.contact-user-address label,
.about-user label {
  font-size: 20px;
  font-weight: 500; }

.profile-user input,
.contact-user input,
.contact-user-address input,
.about-user input {
  width: 75%;
  height: 45%;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0 8px; }

#file-user {
  display: none; }

.contact-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.contact-user-address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 100px; }

.contact-user-address input {
  width: 100%; }

.contact-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28%;
  height: 100px; }

.contact-user input {
  width: 90%; }

.experience {
  width: 95%; }

.experience input {
  width: 100%; }

.profile-action {
  text-align: center;
  transform: translateY(50%); }

.btn-save {
  width: 15%;
  height: 50px;
  border: none;
  outline: none;
  background-color: unset;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700; }

.btn-save:hover {
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.4); }

#email-profile,
#username-profile {
  color: #8f8d8d; }

.skills-profile,
.languages-profile,
.email-profile,
.password-profile {
  align-items: end; }

.skills-profile label {
  align-self: start;
  transform: translateX(220%); }

.languages-profile label {
  align-self: start;
  transform: translateX(105%); }

.email-profile label {
  align-self: start;
  transform: translateX(80%); }

.password-profile label {
  align-self: start;
  transform: translateX(120%); }

.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background: url("/img/bglogin.jpeg") center/cover no-repeat; }

.box-login,
.box-signup,
.box-forgot,
.box-verify,
.box-resetpassword {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 420px;
  background-color: transparent;
  border: 4px solid #fedb00;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  backdrop-filter: blur(10px); }

.box-verify {
  height: 200px; }

.box-forgot {
  display: none;
  height: 200px; }

.box-signup {
  display: none;
  width: 450px;
  height: 600px; }

.text-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.text-login .text-create {
  padding: 8px;
  border: 1px solid #fedb00;
  cursor: pointer; }

.login-username,
.login-password,
.login-email,
.login-phone,
.login-fullname {
  position: relative;
  width: 100%;
  text-align: center; }

.login-username label:hover,
.login-password label:hover,
.login-email label:hover,
.login-phone label:hover,
.login-fullname label:hover {
  cursor: pointer; }

.box-login input,
.box-signup input,
.box-forgot input,
.box-verify input,
.box-resetpassword input {
  border: none;
  outline: none;
  width: 75%;
  background-color: unset;
  border-bottom: 1px solid #fedb00;
  color: white;
  padding: 0 8px; }

.login-username label,
.login-password label,
.login-email label,
.login-phone label,
.login-fullname label {
  position: absolute;
  top: 0;
  left: 60px;
  transition: 0.5s;
  font-weight: 500;
  color: white; }

.login-username input:focus ~ label,
.login-password input:focus ~ label,
.login-email input:focus ~ label,
.login-phone input:focus ~ label,
.login-fullname input:focus ~ label {
  top: -30px;
  color: #9ca3af; }

.login-username input:valid + label,
.login-password input:valid + label,
.login-email input:valid + label,
.login-phone input:valid + label,
.login-fullname input:valid + label {
  top: -30px;
  color: #9ca3af; }

.select-role {
  width: 100%;
  text-align: center; }

#selectrole {
  width: 75%;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid #fedb00; }

.action-login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.btn-login,
.btn-signup,
.btn-reset,
.btn-verify {
  border: 1px solid #fedb00;
  outline: none;
  color: white;
  background-color: transparent;
  width: 90px;
  height: 40px;
  font-weight: 700; }

.btn-reset {
  width: 124px; }

.btn-resetpassword {
  width: 180px; }

.forgot-password {
  cursor: pointer; }

.back-reset {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 4px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: black;
  color: #fedb00; }

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%; }

.footer-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  height: 100%; }

.footer-content ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  margin: unset; }

.footer-content span.contact-footer {
  font-size: 20px;
  font-weight: 700; }

.footer-content li {
  font-size: 16px;
  font-weight: 500;
  list-style-type: none; }

.footer-send-feed-back {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  position: relative;
  height: 100%; }

.footer-send-feed-back input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fedb00;
  color: white;
  width: 40%;
  padding: 0 34px 0 0; }

.footer-send-feed-back label {
  top: 100px;
  position: absolute; }

.footer-send-feed-back span {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700; }

.footer-send-feed-back input:focus ~ label {
  top: 80px; }

.footer-send-feed-back input:valid + label {
  top: 80px; }

.footer-send-feed-back .icon-sendmail {
  position: absolute;
  left: 36%;
  font-size: 30px;
  top: 86px;
  cursor: pointer; }

.icon-sendmail:hover {
  transform: translateX(4px); }

.underline {
  width: 80%;
  height: 1px;
  background-color: #fedb00; }

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%; }

.footer-bottom ul {
  margin: unset;
  padding: unset; }

.footer-bottom li {
  display: inline-block;
  margin: 0 8px; }

.footer-bottom li a {
  text-decoration: none;
  color: #fedb00; }

.footer-send-feed-back button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fedb00; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: black;
  padding: unset; }

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
  transform: translatey(-5%); }

.navbar-left a {
  text-decoration: none; }

.navbar-left img {
  width: 60px;
  height: 60px; }

.navbar-left .header-text span {
  font-size: 20px;
  font-weight: 700;
  color: #fedb00; }

.header-text {
  display: flex;
  flex-direction: column;
  transform: translateY(10%); }

.header-text a {
  height: 20px; }

.header-text .litle-text {
  font-size: 10px;
  font-weight: 500;
  color: #fedb00;
  align-self: end; }

.litle-text p {
  margin: unset; }

.navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  font-size: 20px;
  font-weight: 700;
  color: #fedb00; }

.navbar-center a {
  color: #fedb00;
  text-decoration: none; }

.navbar-center ul {
  margin: unset; }

.drop-down__tools {
  position: relative;
  padding: 25px 0 25px 0; }

.down__tools {
  position: absolute;
  top: 78px;
  left: -83%;
  display: none;
  list-style-type: none;
  color: #fedb00;
  font-size: 20px;
  font-weight: 700;
  width: 130px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #fedb00;
  text-align: center;
  padding: unset; }

.down__tools li {
  padding: 8px 10px; }

.drop-down__tools:hover {
  cursor: pointer; }

.drop-down__tools:hover .down__tools {
  display: block; }

.down__tools a:hover {
  text-decoration: underline; }

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%; }

.navbar-right > * {
  margin: 0 12px; }

.navbar-right img {
  width: 50px;
  height: 50px; }

.navbar-right a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fedb00; }

.drop-down__contact {
  position: relative;
  padding: 30px 0;
  z-index: 10; }

.contact i {
  font-size: 20px;
  color: #fedb00; }

.down__contact,
.down__user {
  position: absolute;
  top: 84px;
  left: -40px;
  display: none;
  list-style-type: none;
  color: #fedb00;
  font-size: 20px;
  font-weight: 700;
  width: 220px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #fedb00;
  text-align: center;
  padding-left: unset; }

.down__user {
  width: 150px;
  height: 100px;
  top: 92px;
  left: -65px; }

.down__contact li,
.down__user li {
  padding: 8px 10px; }

.drop-down__contact:hover .down__contact {
  display: block; }

.send-mail:hover {
  text-decoration: underline; }

.drop-down__user {
  color: #fedb00;
  position: relative;
  padding: 30px 12px;
  margin: unset; }

.drop-down__user i {
  font-size: 30px; }

.drop-down__user:hover .down__user {
  display: block; }

.down__user li:hover {
  text-decoration: underline; }

@keyframes ShowImg {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }
