<div class="footer">
  <div class="footer-content">
    <div class="footer-content-left">
        <form id="feedback" class="footer-send-feed-back" method="POST" action="/feedback">
            <span>Do You Have A Feed Back?</span>
            <input type="text" name="feedback" id="sendfeedback" required>
            <label for="sendfeedback">Enter Feedback</label>
            <button type="submit" class="icon-sendmail"><i class="bi bi-arrow-right-circle-fill"></i></button>
        </form>
    </div>
   <ul><span class="contact-footer">Contact Us:</span> 
    <li>070-277-5***</li>
    <li>Monday-Sunday 9am-9pm</li>
   </ul>
  </div>
  <div class="underline">
  </div>
  <div class="footer-bottom">
       <p>Copyright © 2023 Vigga CV</p>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
</div>