{{#if cvuser}}
{{else}}
<div class="footer">
  <div class="footer-content">
    <div class="footer-content-left">
        <form id="feedback" class="footer-send-feed-back" method="POST" action="/feedback">
            <span>Do You Have A Feedback?</span>
            <input type="text" name="feedback" id="sendfeedback" required>
            <label for="sendfeedback">Enter Feedback</label>
            <button type="submit" class="icon-sendmail"><i class="bi bi-arrow-right-circle-fill"></i></button>
        </form>
    </div>
   <ul><span class="contact-footer">Contact Us:</span> 
    <li>Hotline: <a href="tel:0702775548">0702775548</a></li>
    <li>Email: <a href="mailto:nxt03091999@gmail.com">nxt03091999@gmail.com</a></li>
    <li>Monday - Sunday: 9am - 9pm</li>
   </ul>
  </div>
  <div class="underline">
  </div>
  <div class="footer-bottom">
       <p>Copyright © 2023 ViggaCareers</p>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
</div>

<button id="moveTopBtn"><i class="bi bi-arrow-up-circle-fill"></i></button>
{{/if}}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>