<div class="navbar">
    <div class="navbar-left">
        <img src="/img/LOGOVGA.png" alt="">
        <span>Vigga CV</span>
    </div>
    <div class="navbar-right">
        <ul class="drop-down__contact">
            <a class="contact" href=""><i class="bi bi-chat-dots"></i> Contact Us</a>
            <ul class="down__contact">
                <li>Need Assistance?</li>
                <li>070277****</li>
                <li>Mon-Sun 9am-9pm</li>
                <li><a class="send-mail" href="">Send Mail For Us</a></li>
            </ul>
        </ul>
        <img src="/img/LOGOVN.png" alt="">
        <a class="navbar-right__login" href="/login">Sign In</a>
    </div>
</div>