<div class="container-home">
    <div class="first-content">
        <div class="first-content-left">
            <span class="left-secondary-text">ViggaWorks is Southeast Asia's most significant HR ecosystem. Our objective is to assist 120 million talents in Southeast Asia in advancing their careers and to assist companies in locating the most qualified candidates. More than three million talents have been supported by ViggaWorks, and several organizations have realized their full human potential as a result.</span>
            <a class="home-create-cv" href="/job">Find Dream Job</a>
        </div>
        <div id="slideshow" class="first-content-right">
            <img src="/img/companyTP.jpg" alt="">
            <img src="/img/companyHM.png" alt="">
            <img src="/img/companyLR.jpg" alt="">
            <img src="/img/companyTHG.jpg" alt="">
        </div>
    </div>
    <div class="templates-cv">
        <div class="templates-img">
            <img class="templates-img1" src="/img/cv1.jpeg" alt="">
            <img class="templates-img2" src="/img/cv2.jpeg" alt="">
            <img class="templates-img3" src="/img/cv3.png" alt="">
            <img class="templates-img4" src="/img/cv4.jpeg" alt="">
        </div>
        <div class="templates-text">
            <span>Impress Employers With ViggaWorks NiceCV
Create a quick and free CV template, so that employers must
"Surprise" as soon as I see your CV.</span>
            <a class="templates-text__action" href="/cv">Discover Now</a>
        </div>
    </div>
     <div class="company-job">
        <a href="/company" class="home-company">
            <span>Companies</span>
        </a>
        <a href="/job" class="home-job">
            <span>Jobs</span>
        </a>
    </div>
         <div class="advantages">
        <div class="advantage-before">
            <div class="advantage">
                <i class="bi bi-cash-coin"></i>
                <h3>Free, as in no cost</h3>
                <span>Your first resume is completely free and will be watermark-free. There are no premium-only alternatives, and you may download your resume as frequently as you like for free.</span>
            </div>
            <div class="advantage">
                <i class="bi bi-filetype-pdf"></i>
                <h3>High-quality PDF</h3>
                <span>Several hours were spent ensuring that your PDF looks as sharp as possible when printed or shared.</span>
            </div>
        </div>
        <div class="advantage-after">
            <div class="advantage">
                <i class="bi bi-file-earmark-lock2"></i>
                <h3>Data privacy</h3>
                <span>We don't sell your info. Ever. Instead, we are GDPR-compliant and allow you to erase all of your data in an instant if you so want.</span>
            </div>
            <div class="advantage">
                <i class="bi bi-chat-left-text"></i>
                <h3>Get feedback</h3>
                <span>So that you don't have to provide a new version every time you make a change, you may ask your friends for input via a link and have any changes made instantly.</span>
            </div>
        </div>
    </div>
</div>
<script>
    
      const images = ["image1.jpg", "image2.jpg", "image3.jpg","image4.jpg"];

      let currentImageIndex = 0;
      const slideshowElement = document.getElementById("slideshow");
      const slideshowInterval = setInterval(function() {
        slideshowElement.children[currentImageIndex].style.display = "none";
        currentImageIndex = (currentImageIndex + 1) % images.length;
        slideshowElement.children[currentImageIndex].style.display = "block";
      }, 3000);
      
</script>
<script>
  const listImages = document.querySelectorAll('.templates-img img');

  let currentImageIndexA = 0;
  listImages[currentImageIndexA].style.transform = 'translateY(0)';

  setInterval(function() {
    listImages[currentImageIndexA].style.transform = 'translateY(-100%)';

    currentImageIndexA = (currentImageIndexA + 1) % listImages.length;

    listImages[currentImageIndexA].style.transform = 'translateY(0)';
  }, 5000);
</script>