<form action="" style="height: 600px; width: 600px; background-color:black; color: white; margin: 50px auto; text-align: center;">
    <input type="file" name="filepdf">
    <button type="submit">submit đi thằng ngu</button>
    <img src="https://media.viez.vn/prod/2021/12/9/ezgif_com_gif_maker_2021_12_09_T120728_981_dd170e88e7.gif" alt="" style="width:100%; height:80%;">
</form>