<div class="main-jobs">
    <div class="card-jobs">
        <p>{{count}}</p>
        {{#each job}}
        <div class="card-job">
            <p>{{this.jobname}}</p>
            <p>{{this.salary}}</p>
            <p>{{this.jobdesc}}</p>
        </div>
        {{/each}}
    </div>
</div>