<div class="container__job-saved">
    <div class="main__job-saved">
        <header>
            <h1>Archives your jobs</h1>
            <p>Everything you store or apply for a job is saved on this page.Take a look at the history of jobs you've saved. Apply immediately to avoid missing out on this employment opportunity.</p>
        </header>
        <section>
            <span class="list__job-saved">List: {{count}} jobs saved</span>
            {{#each listjob}}
            <div class="card__job-save">

            </div>
            {{/each}}
        </section>
    </div>
</div>