<div class="main-login">
    {{#if msg}}
        <div class="alert-message">
            <p>{{msg}}</p>
            <div class="hide-message">
                <i class="bi bi-x-circle"></i>
            </div>
        </div>
    {{/if}}
    {{!-- login --}}
    <form class="box-login" method="POST" action="/login/apilogin" >
        <div class="text-login">
            <span class="text-sign-in" style="color: #0095ff;">
                Login 
                <span class="click-actived"></span>
            </span>
            <span class="text-create" style="color: #81827b;">Register</span>
        </div>
        <div class="login-username">
            <input type="text" name="username" id="username" required>
            <label class="label-user" for="username">User Name</label>
        </div>
        <div class="login-password">
            <input type="password" name="password" id="password" required>
            <label class="label-password" for="password">Password</label>
        </div>
        <div class="action-login">
            <button class="btn-login" id="login-button" type="submit">Sign In</button>
            <span>Forgot your password? <a class="forgot-password" >Click here!</a></span>
        </div>
    </form>
    {{!-- register --}}
    <form class="box-signup" method="POST" action="/register/apiregister">
        <div class="text-login">
            <span class="text-sign-in text-sign-in__sign-up" style="color: #81827b;">Login</span>
            <span class="text-create text-created__sign-up" style="color: #0095ff;">
                Register
                <span class="click-actived click-actived__register"></span>    
            </span>
        </div>
         <div class="login-fullname">
            <input type="text" name="fullname" id="fullname" required>
            <label class="label-fullname" for="fullname">Full Name</label>
        </div>
        <div class="login-username">
            <input type="text" name="username" id="username-signup" required>
            <label class="label-user" for="username-signup">User Name</label>
        </div>
        <div class="login-password">
            <input type="password" name="password" id="password-signup" required>
            <label class="label-password-signup" for="password">Password</label>
        </div>
        <div class="login-email">
            <input type="text" name="email" id="email" required>
            <label class="label-email" for="password">Email</label>
        </div>
        <div class="login-phone">
            <input type="text" name="phone" id="phone" required>
            <label class="label-phone" for="phone">Phone</label>
        </div>
        <div class="select-role">
            <select name="role" id="selectrole" required>
                <option class="role-selected" value="" ></option>
                <option value="company">Company</option>
                <option value="user">User</option>
            </select>
            <label for="selectrole">Select Role</label>
        </div>
        <div class="action-login">
            <button class="btn-signup" type="submit">Register</button>
        </div>
    </form>
    {{!-- forgot --}}
    <form class="box-forgot" method="POST" action="/login/mailresetpassword">
        <div class="text-login">
            <span class="text-sign-in text-reset-password" style="color:#0095ff;">
                Reset Password
                <span class="click-actived__reset"></span>
            </span>
        </div>
        <div class="login-email">
            <input type="text" name="email" id="email-forgot" required>
            <label class="label-email" for="password">Email</label>
        </div>
        <div class="action-login reset-password__action">
            <button class="btn-signup back-reset" type="button">Back</button>
            <button class="btn-reset" type="submit">Send Mail</button>
        </div>
    </form>
</div>
<script>
    var clickCreate = document.querySelector('.text-create')
    var clickSignIn = document.querySelector('.text-sign-in__sign-up');
    var boxLogin = document.querySelector('.box-login');
    var boxSignUp = document.querySelector('.box-signup');
    clickCreate.addEventListener('click', ()=>{
        boxLogin.style.cssText = "display: none;"
        boxSignUp.style.cssText = "display: flex;"
        localStorage.setItem('showSignUp', 'show');
        localStorage.setItem('showSignIn', 'hide');
        localStorage.setItem('showForgot', 'hide');
    })
    clickSignIn.addEventListener('click', ()=>{
        boxSignUp.style.cssText = "display: none;"
        boxLogin.style.cssText = "display:flex;"
        localStorage.setItem('showSignIn', 'show');
        localStorage.setItem('showSignUp', 'hide');
        localStorage.setItem('showForgot', 'hide');
    })
    var boxReset = document.querySelector('.box-forgot');
    var clickReset = document.querySelector('.forgot-password');
    clickReset.addEventListener('click',()=>{
        boxReset.style.cssText = "display: flex;"
        boxLogin.style.cssText = "display: none;"
        localStorage.setItem('showForgot', 'show');
        localStorage.setItem('showSignUp', 'hide');
        localStorage.setItem('showSignIn', 'hide');
    })
     var clickBackReset = document.querySelector('.back-reset');
     clickBackReset.addEventListener('click', ()=>{
        boxReset.style.cssText = "display: none;"
        boxLogin.style.cssText = "display: flex;"
        localStorage.setItem('showSignIn', 'show');
        localStorage.setItem('showSignUp', 'hide');
        localStorage.setItem('showForgot', 'hide');
     })
     document.addEventListener('DOMContentLoaded', ()=> {
        var showSignIn = localStorage.getItem('showSignIn');
        var showSignUp = localStorage.getItem('showSignUp');
        var showForgot = localStorage.getItem('showForgot');
        if (showSignIn === 'show') {
        boxLogin.style.display = 'flex';
        boxSignUp.style.display = 'none';
        boxReset.style.display = 'none';
        } else if (showSignUp === 'show') {
            boxLogin.style.display = 'none';
            boxSignUp.style.display = 'flex';
            boxReset.style.display = 'none';
        } else if (showForgot === 'show') {
            boxLogin.style.display = 'none';
            boxSignUp.style.display = 'none';
            boxReset.style.display = 'flex';
        }
    });
</script>