<div class="main-login">
    <form class="box-resetpassword" method="POST" action="/register/apiregister">
            <div class="text-login">
                <span class="text-sign-in">New Password</span>
            </div>
            <div class="login-fullname">
                <input type="text" name="fullname" id="fullname" required>
                <label class="label-fullname" for="fullname">New Password</label>
            </div>
            <div class="login-username">
                <input type="text" name="username" id="username-signup" required>
                <label class="label-user" for="username-signup">Confirm Password</label>
            </div>
            <div class="action-login">
                <button class="btn-signup" type="submit">Reset Password</button>
            </div>
    </form>
</div>