<div class="main-login">
    <form class="box-resetpassword" method="POST" action="/login/resetpassword">
            <div class="text-login">
                <span class="text-sign-in">New Password</span>
            </div>
            <div class="login-fullname">
                <input type="password" name="newpassword" id="fullname" required>
                <label class="label-fullname" for="fullname">New Password</label>
            </div>
            <div class="login-username">
                <input type="password" name="confirmpassword" id="username-signup" required>
                <label class="label-user" for="username-signup">Confirm Password</label>
            </div>
            <div class="action-login">
                <button class="btn-signup btn-resetpassword" type="submit">Reset Password</button>
            </div>
    </form>
</div>